body, div, h1 { padding: 0; margin: 0; color: #777777; }

body { background: #EFEFEF; }

a { color: #1A67B8; text-decoration: none; }
a:hover { text-decoration: underline; }
input { border: 1px solid #CDCDCD; color: #777777;}

#menu { background: url('/static/images/menu_bg.png') repeat-x; height: 29px; clear: both; font-size: 12px; }
#menu ul { list-style-type: none; margin: 0; padding: 0; }
#menu a { color: #FFFFFF; text-decoration: none; float: left; line-height: 29px; text-align: center; padding: 0 20px; border-right: 1px solid #454545;}
#menu div a { color: #000; text-decoration: none; float: left; border: 0;}
#menu li:hover { background: #F7F7F7; }
#menu li:hover a { color: #000000; }
#menu li div { visibility: hidden; }
#menu li:hover > div { visibility: visible; }

#header { background: url('/static/images/header_bg.png') repeat-x; height: 120px; background-position: bottom; }
#header h1 { color: #F7F7F7; }

#content { font-size: 13px; min-height: 600px; margin: 2em; }

#footer { background: url('/static/images/footer_bg.png') repeat-x; height: 100px; clear: both; }

#track_dossier { display: inline; position: relative; z-index: 20; }
#track_dossier:hover > div { display: block; }
#track_dossier:hover { display: block; }
#notif_subscr { position: absolute; right: 0; border: 2px solid #454545; padding: 10px; background: #F7F7F7; }

ul.dropdown { position: relative; z-index: 597; float: left; }
ul.dropdown li { float: left; vertical-align: middle; zoom: 1; z-index: 599; }
ul.dropdown li.hover, ul.dropdown li:hover { position: relative; z-index: 599; cursor: default; }
ul.dropdown div { visibility: hidden; position: absolute; top: 100%; left: -2px; z-index: 598; width: 100%; background: #F7F7F7; padding: 10px; min-width: 300px; border: 2px solid #454545; }
ul.dropdown ul li { clear: both; min-width: 130px; }
ul.dropdown div ul li { clear: both; min-width: 0px; }
ul.dropdown ul li a { font-size: 0.8em; }
ul.dropdown li:hover > div { visibility: visible; }
.hidden { display: none; }
dl, dd, dt { vertical-align:top;}
dt { display: inline-block; width: 80px; }
dd { display: inline-block; }
.mepshot { float: right; }

#search_input { width: 200px; }
.right { text-align: right; }

.votes thead td { width: 5em; }
.has_summary, .more { cursor: pointer; padding-left: 40px; font-size: .7em; color: #454545; }
li .has_summary, .more { cursor: pointer; padding-left: 0px; font-size: 1em; color: #454545; }
.asjson { font-size: .7em; float: right; }
.centered { width: 100%; text-align: center; color: black; }
#footer a, #footer a:visited { color: white; }

.ui-widget-header { background: #EFEFEF !important; border: 0 !important; }
.ui-widget-content a { color: #1A67B8 !important; text-decoration: none; }
.ui-widget-content a:hover { color: #1A67B8 !important; text-decoration: underline; }
.ui-state-hover { background: url(images/ui-bg_glass_100_f6f6f6_1x400.png) repeat-x scroll 50% 50% !important; border: 1px solid #f6f6f6 !important;}

.group_icon { height:1em; margin:2px; vertical-align:top; }

#calendar { width: 700px; }
#calendar_legend { width: 240px; float: right; }
.council-debate-expected, .council-debate-expected a { background-color: green !important; border-color: green !important; color: white !important }
.council-final, .council-final a{ background-color: green !important; border-color: green !important; color: yellow !important; }
.council-agree, .council-agree a{ background-color: green !important; border-color: green !important; color: #ffcc00 !important; }
.ep-sitting, .ep-sitting a{ background-color: #214478 !important; border-color: #214478 !important; color: #ccc !important; }
.ep-2ndsitting, .ep-2ndsitting a{ background-color: #315488 !important; border-color: #315488 !important; color: #ccc !important; }
.ep-3rdsitting, .ep-3rdsitting a{ background-color: #416488 !important; border-color: #416498 !important; color: white !important; }
.ep-debate, .ep-debate a{ background-color: #214478 !important; border-color: #214478 !important; color: white !important; }
.ep-1streading, .ep-1streading a{ background-color: #214478 !important; border-color: #214478 !important; color: yellow !important; }
.ep-2ndreading, .ep-2ndreading a{ background-color: #315488 !important; border-color: #315488 !important; color: yellow !important; }
.ep-vote, .ep-vote a { background-color: #214478 !important; border-color: #214478 !important; color: #ffcc00 !important; }
#legend li { font-size:0.7em; list-style-type:none; margin-bottom:0.2em; margin-left:-2.5em; margin-right:1em; }
.fc-content { clear:none !important; }
#calendar a:hover { color: red !important; }

div.qtip { font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: .8em; }

#dossiers-graph {
    width: 600px;
    height: 300px;
}
/* JIT TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
