body, div, h1 { padding: 0; margin: 0; color: #777777; }

body { background: #EFEFEF; }

a { color: #1A67B8; text-decoration: none; }
a:hover { text-decoration: underline; }
input { border: 1px solid #CDCDCD; color: #777777;}

#menu { background: url('/static/images/menu_bg.png') repeat-x; height: 29px; clear: both; font-size: 12px; }
#menu ul { list-style-type: none; margin: 0; padding: 0; }
#menu a { color: #FFFFFF; text-decoration: none; float: left; line-height: 29px; text-align: center; padding: 0 20px; border-right: 1px solid #454545;}
#menu a:hover { background: #F7F7F7; color: #000000; }
#menu li div { visibility: hidden; }
#menu li:hover > div { visibility: visible; }

#header { background: url('/static/images/header_bg.png') repeat-x; height: 120px; background-position: bottom; }
#header h1 { color: #F7F7F7; }

#content { font-size: 13px; min-height: 600px; margin: 2em; }

#footer { background: url('/static/images/footer_bg.png') repeat-x; height: 100px; clear: both; }

ul.dropdown { position: relative; z-index: 597; float: left; }
ul.dropdown li { float: left; vertical-align: middle; zoom: 1; z-index: 599; }
ul.dropdown li.hover, ul.dropdown li:hover { position: relative; z-index: 599; cursor: default; }
ul.dropdown div { visibility: hidden; position: absolute; top: 100%; left: -2px; z-index: 598; width: 100%; background: #F7F7F7; padding: 10px; min-width: 300px; border: 2px solid #454545; }
ul.dropdown ul li { clear: both; min-width: 130px; }
ul.dropdown ul li a { font-size: 0.8em; }
ul.dropdown li:hover > div { visibility: visible; }
.hidden { display: none; }
dl, dd, dt { display: inline-block; }
dt { width: 30px; }
.mepshot { float: right; }

#search_input { width: 200px; }
