body, h1 { padding: 0; margin: 0; color: #777777; }
html, body { height:100%; font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; }

a { color: #1A67B8; text-decoration: none; }
a:hover { text-decoration: underline; }
input { border: 1px solid #CDCDCD; color: #777777;}

#track_dossier { display: inline; position: relative; z-index: 20; }
#track_dossier:hover > div { display: block; }
#track_dossier:hover { display: block; }
#notif_subscr { position: absolute; right: 0; border: 2px solid #454545; padding: 10px; background: #F7F7F7; }

.hidden { display: none; }
dl, dd, dt { vertical-align:top;}
dt { display: inline-block; width: 80px; }
dd { display: inline-block; }
.mepshot { float: right; }

.right { text-align: right; }

.votes thead td { width: 5em; }
.has_summary, .more { cursor: pointer; padding-left: 40px; font-size: .7em; color: #1C94C4; }
li .has_summary, .more { cursor: pointer; padding-left: 0px; font-size: 1em; color: #1C94C4; }
.asjson { font-size: .7em; float: right; }
.centered { width: 100%; text-align: center; color: black; }
#footer a, #footer a:visited { color: white; }

.ui-widget-header { background: #EFEFEF !important; border: 0 !important; }
.ui-widget-content { background: #fff !important; }
.ui-widget-content a { color: #1A67B8 !important; text-decoration: none; }
.ui-widget-content a:hover { color: #1A67B8 !important; text-decoration: underline; }
.ui-state-hover { background: url(images/ui-bg_glass_100_f6f6f6_1x400.png) repeat-x scroll 50% 50% !important; border: 1px solid #f6f6f6 !important;}

.group_icon { height:1em; margin:2px; vertical-align:top; }

#calendar { width: 700px; }
#calendar_legend { width: 240px; float: right; }
.council-debate-expected, .council-debate-expected a { background-color: green !important; border-color: green !important; color: white !important }
.council-final, .council-final a{ background-color: green !important; border-color: green !important; color: yellow !important; }
.council-agree, .council-agree a{ background-color: green !important; border-color: green !important; color: #ffcc00 !important; }
.council-pos, .council-pos a{ background-color: green !important; border-color: green !important; color: #cc9900 !important; }
.ep-sitting, .ep-sitting a{ background-color: #214478 !important; border-color: #214478 !important; color: #ccc !important; }
.ep-2ndsitting, .ep-2ndsitting a{ background-color: #315488 !important; border-color: #315488 !important; color: #ccc !important; }
.ep-3rdsitting, .ep-3rdsitting a{ background-color: #416488 !important; border-color: #416498 !important; color: white !important; }
.ep-debate, .ep-debate a{ background-color: #214478 !important; border-color: #214478 !important; color: white !important; }
.ep-1streading, .ep-1streading a{ background-color: #214478 !important; border-color: #214478 !important; color: yellow !important; }
.ep-2ndreading, .ep-2ndreading a{ background-color: #315488 !important; border-color: #315488 !important; color: yellow !important; }
.ep-vote, .ep-vote a { background-color: #214478 !important; border-color: #214478 !important; color: #ffcc00 !important; }
.com-vote, .com-vote a { background-color: #1A67B8 !important; color: #ffcc00 !important; }
.cal-other, .cal-other a { background-color: #c3c3c3 !important; color: #040404 !important; }
.agenda-unknown, .committee-agenda a { background-color:white !important; color: #ccc !important; }
.committee-agenda, .committee-agenda a { background-color:#1A67B8 !important; color: #ccc !important; }
.tabling-deadline, .tabling-deadline a { background-color:#1A67B8 !important; color: orange !important; }
.2ndreading-deadline, .2ndreading-deadline-deadline a { background-color:#315488 !important; color: orange !important; }
#legend li { font-size:0.7em; list-style-type:none; margin-bottom:0.2em; margin-left:-2.5em; margin-right:1em; }
.fc-content { clear:none !important; }
#calendar a:hover { color: red !important; }

div.qtip { font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: .8em; }

#dossiers-graph {
   width: 600px;
   height: 300px;
}
#stages-graph {
   margin: 0 auto 3em auto;
   width: 600px;
   height: 300px;
}
.votes-graph {
   width: 600px;
   height: 100px;
}
.jit-container {
   position:relative;
   width: 60%;
   height:300px;
   margin:auto;
   overflow:hidden;
   background-color:#E6EEEE;
}

.jit-container div {
  position:absolute;
  overflow:hidden;
}

.jit-container .content {
  background-color:#333;
  border:0px solid #111;
}

.jit-container .head {
  color:white;
  background-color:#444;
}

.jit-container .head.in-path {
  background-color:#655;
}

.jit-container .body {
  background-color:black;
}

.jit-container .leaf {
  color:white;
  background-color:#111;
  display:table-cell;
  vertical-align:middle;
}

.jit-container .over-leaf {
  border:1px solid #9FD4FF;
}

.jit-container .over-content {
  background-color: #9FD4FF;
}

.jit-container .over-head {
  background-color:#A4D9FF;
  color:black;
}
.jit-container .node {
   font-family: sans-serif;
}
#visu-back {
   display: block;
   margin: auto;
   width: 8em;
}
/* JIT TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
   border: 0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
   border: 0;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
.pivot_row_chart,
.pivot_col_chart,
.pivot_chart { max-width: 99%; overflow: auto; }

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.changelog-item { border-bottom: 1px solid #1A67B8; padding-bottom: 1em; margin-top: 1em; }
.changelog-timestamp { margin-left: 1em; }
.changelog-entry { margin-left: 2em; width: 96%; }
.changelog-entry:nth-child(odd) { background-color: #eee; }
.changelog-entries { width: 98%; }
.changelog-type {
   vertical-align: top;
   width: 6%;
}
.changelog-path {
   vertical-align: top;
   width: 20%;
}
.changelog-data {
   /*display: inline-block;*/
   vertical-align: middle;
   width: 60%;
}
.changelog-data dl {
   margin: 0;
   padding-bottom: .4em;
}
.changelog-data li {
   list-style-type: none;
   margin-bottom: .5em;
   margin-right: .5em;
}
.changelog-old,
.changelog-new {
   width: 49%;
   display: inline-block;
}

#monolith {
	top:		0px;
   left:    0px;
	width:		200px;
	height:		100%;
	position:	fixed;
	float:		left;
	background:	#214478;
   z-index:		11;
}

#monolith a {
	color:		#ffcc00;
}

#menu {
}

#menu > a {
	display:	block;
	padding:	0.5em;
	padding-left:	1.5em;
	margin-bottom:	0.5em;
	border-top:	1px solid #214478;
	border-bottom:	1px solid #214478;
	-webkit-transition: background .50s linear;
	transition: background .50s linear;
	-webkit-transition: border-top border-bottom .50s linear;
	transition: border-top border-bottom .50s linear;
}

#menu > a:hover {
	background:	#2f61ab;
	border-top:	1px solid #ffcc00;
	border-bottom:	1px solid #ffcc00;
	-webkit-transition: background .50s linear;
	transition: background .50s linear;
	-webkit-transition: border-top border-bottom .50s linear;
	transition: border-top border-bottom .50s linear;
}

#right-content {
   min-height:100%;
   position:relative;
	margin-left: 200px;
}

#content {
   padding-bottom: 44px;
   margin-left: 1em;
   margin-right: 1em;
   margin-top: 2em;
}

#footer {
   font-size: 12px;
   background: url("/static/images/footer_bg.png") repeat-x scroll 0 0 transparent;
   bottom: 0;
   height: 44px;
   width: 100%;
   position: absolute;
}

#search {
   width: 180px;
   margin-left: 10px;
}
#search_input {
   width: 180px;
}

#logo {
	padding-left:	20px;
	padding-rigth:	20px;
	padding-top:	20px;
	margin-bottom:	0em;
}

#monolith h1 {
	color:		#ffcc00;
   text-align: center;
}

.submenu {
	padding-left:	10px;
	border-top:	1px solid #ffcc00;
	border-bottom:	1px solid #ffcc00;
	background:	#2f61ab;
}

.submenu a {
	font-size:	8pt;
	display:	block;
	padding:	7px;
	text-align:	left;
}

.submenu.grid a {
	width:		27px;
	display:	inline-block;
	text-align:	center;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 80% !important;
    line-height: 1.1 !important;
}

#topbar {
	top:			0px;
   right:		0px;
	width:		100%;
	padding-left:200px;
	height:		1.1em;
	position:	fixed;
	background:	#214478;
   z-index:		10;
}

#topbar a, #topbar span {
	color:		#ffcc00;
   float:		right;
   margin-right: 0.5em;
   font-size:	.8em;
}

#topbar span {
   cursor: pointer;
}

#topbar span:hover {
   text-decoration: underline;
}

table#amendments,
table.amendments {
   font-size: 18px;
}
.amendments .source { font-size: 13px; }
.amendment .title { font-size: 23px; }
.amendment { margin-bottom: 1em; }
.amendment .authors{ font-size: 15px; }
.amendment .location { font-style: italic; }
.amendment .diff { width: 40em; }

.small { font-size: .7em; }

.hover .anchorLink { color: white; }
.hover:hover .anchorLink { color: blue; }

.index-tab { min-height: 350px; }
