<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>[!] ParlTrack {% block title %}{% endblock %}</title>
    <link rel="alternate" type="application/atom+xml" title="New Dossiers feed" href="{{request.url_root}}/new/?format=atom">
    <link rel="alternate" type="application/atom+xml" title="Changed Dossiers feed" href="{{request.url_root}}/changed/?format=atom">
    {% block rss %}
    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery.js"> </script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"> </script>
    <script type="text/javascript">
     $(document).ready(function() {
       $('#search_input').click(function() {
        if($(this).attr('value') == '//search') $(this).attr('value', '');
       });
       /*
       $('#search_input').autocomplete({
        source: function(req, add){
        $.get("search?"+$('#search > form').serialize(), [], function(data) {
         var suggestions = [];
          $.each(eval('('+data+')'), function(i, val){
           suggestions.push(val);
          });
          add(suggestions);
         });
        } ,
        select: function(e, ui) {
            if(ui.item.value.substring(0, 3) == 'mep') {
             window.location = '/mep/'+escape(ui.item.value.substring(5))
            }
          }
       });
       */
       $('#ranking_date').click(function() {
        if($(this).attr('value') == 'DD/MM/YYYY') $(this).attr('value', '');
       });
       $('#ranking_form').submit(function() {
        window.location = '/meps/?date='+$('#ranking_date').attr('value');
        return false;
       });
     });
    </script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
 <div id="wrapper">
   <div id="menu">
    <ul class="dropdown dropdown-horizontal">
     <li><a href="/">Home</a></li>
     <li><a href="/meps/?date={{ now_date.strftime('%d/%m/%Y') }}">MEPs</a>
      <div>
       <p>Click for list of current MEPs</p>
       <form method="get" action="/meps/" id="ranking_form">
        <p>Custom date:<input type="text" value="DD/MM/YYYY" name="ranking_date" id="ranking_date"/></p>
       </form>
      </div>
     </li>
     <li><a>Committees</a>
       <div style="min-width:300px;">
          <ul>{%for c in committees|sort%}<li>
            {% if c|length != 4 %}<a href="/committee/{{committee_map[c]}}">{{committee_map[c]}} - {{c}}</a>
            {%elif committee_map[c]|length != 4 %}<a href="/committee/{{c}}">{{c}} - {{committee_map[c]}}</a>
            {%endif%}
          </li>{%endfor%}</ul>
       </div>
     </li>
     <li><a>Search</a>
     <div id="search"><form action="/search" method="get">MEPs:<input type="checkbox" checked="checked" name="s_meps"/> Dossiers:<input type="checkbox" checked="checked" name="s_dossiers"/><br /><input type="text" value="//search" id="search_input" name="q"/></form></div>
     </li>
    </ul>
   {% block menu %}
   {% endblock %}
   </div>
   <div id="header">
        <h1>ParlTrack</h1>
      {% block header %}
      {% endblock %}
  </div>
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  <div id="footer">
{% block footer %} {% endblock %}
    <hr />
    <div id="legal"><a href="https://github.com/pudo/parltrack/">code</a> <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3.0+</a>, <a href="/dumps">data</a> <a href="http://www.opendatacommons.org/licenses/odbl/">ODBLv1.0</a>, site-content <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-By-Sa-3.0</a></div>
  </div>
 </div>
</body>
</html>
