<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>[!] ParlTrack {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    {% block scripts %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>
<body>
 <div id="wrapper">
   <div id="menu">
    <ul class="dropdown dropdown-horizontal">
     <li><a href="/">Home</a></li>
     <li><a href="/ranking/mep/16/09/2004">Rankings</a></li>
     <li><a href="/stats">Statistics</a></li>
    </ul>
   {% block menu %}
   {% endblock %}
   </div>
   <div id="header">
        <h1>ParlTrack</h1>
      {% block header %}
      {% endblock %}
  </div>
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  <div id="footer">
{% block footer %} {% endblock %}
  </div>
 </div>
</body>
</html>
