<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{% block title %}{% endblock %}ParlTrack </title>
    {% block rss %}
    {% endblock %}
    <link rel="alternate" type="application/atom+xml" title="New Dossiers feed" href="{{request.url_root}}new/" />
    <link rel="alternate" type="application/atom+xml" title="Changed Dossiers feed" href="{{request.url_root}}changed/" />

    <link rel="alternate" type="application/atom+xml" title="New Meps feed" href="{{request.url_root}}meps/new/" />
    <link rel="alternate" type="application/atom+xml" title="Changed Meps feed" href="{{request.url_root}}meps/changed/" />

    <link rel="alternate" type="application/atom+xml" title="New Committee agenda items feed" href="{{request.url_root}}committees/new/" />
    <link rel="alternate" type="application/atom+xml" title="Changed Committee agenda items feed" href="{{request.url_root}}committees/changed/" />
    <script type="text/javascript" src="/static/js/jquery.js"> </script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"> </script>
    <script type="text/javascript">
     jQuery(document).ready(function() {
       jQuery('#search_input').click(function() {
        if(jQuery(this).attr('value') == '//search') jQuery(this).attr('value', '');
       });
       jQuery('.more').click(function() {
         jQuery(this).next().toggleClass('hidden');
       });
       /*
       $('#search_input').autocomplete({
        source: function(req, add){
        $.get("search?"+$('#search > form').serialize(), [], function(data) {
         var suggestions = [];
          $.each(eval('('+data+')'), function(i, val){
           suggestions.push(val);
          });
          add(suggestions);
         });
        } ,
        select: function(e, ui) {
            if(ui.item.value.substring(0, 3) == 'mep') {
             window.location = '/mep/'+escape(ui.item.value.substring(5))
            }
          }
       });
       */
     });
    </script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
<div id="topbar">{% block topbar %}{% endblock %} <a href="/preferences">Preferences</a></div>
<div id="monolith">
   <div id="logo"><a href="/"><img src="/static/images/parltrack.png" alt="parltrack logo" /></a></div>
   <h1>Parltrack</h1>
   <div id="menu">
     <div id="search"><form action="/search" method="get"><p><input type="hidden" value="checked" name="s_meps"/><input type="hidden" value="checked" name="s_dossiers"/><input type="text" value="//search" id="search_input" name="q"/></p></form></div>
     <a href="/about">About</a>
     <a href="/dossiers">Dossiers</a>
     <a href="/meps/?date={{ now_date.strftime('%d/%m/%Y') }}">MEPs</a>
     <a class="more">Committees</a>
     <div class="submenu hidden grid">
        {%for c in committees|sort%}
            {% if c|length != 4 %}<a href="/committee/{{committee_map[c]}}" title="{{c}}">{{committee_map[c]}}</a>
            {%elif committee_map[c]|length != 4 %}<a href="/committee/{{c}}" title="{{committee_map[c]}}">{{c}}</a>
            {%endif%}
        {%endfor%}
     </div>
     <a class="more">Datasets</a>
     <div class="submenu hidden">
        <a href="/datasets/imm">Immunity waivers</a>
        <a href="/dumps/schema.html">DB Schema</a>
        <a href="/dumps/">Complete dump</a>
     </div>
     <a href="http://flattr.com/thing/308984/Parltrack"><img style="vertical-align: middle" src="/static/images/flattr-badge-large.png" alt="Flattr this" title="Flattr this"/></a>
     {% block menu %}
     {% endblock %}
   </div>
   {% block header %}
   {% endblock %}
</div>
<div id="right-content">
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  <div id="footer">
     {% block footer %} {% endblock %}
     <hr />
     <div class="centered"><a href="https://github.com/pudo/parltrack/">code</a> <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3.0+</a>, <a href="/dumps">data</a> <a href="http://www.opendatacommons.org/licenses/odbl/">ODBLv1.0</a>, site-content <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-By-Sa-3.0</a></div>
     <div class="centered"><a href="http://www.europarl.europa.eu/tools/disclaimer/default_en.htm">© European Union, 2011 – Source: European Parliament</a></div>
  </div>
</div>
</body>
</html>
