{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" src="/static/js/picnet.table.filter.min.js"></script>
<script>
	$(function() {
		$( "#tabs" ).tabs();
      $("#sortedlist").tablesorter();
      $('#sortedlist').tableFilter();
	});
</script>
{% endblock %}
{% block content %}
<a class="asjson" href="{{url}}?format=json">download as json</a>
<h2>{{Committee}} ({{c}})</h2>
<div id="tabs">
  <ul>
    <li><a href="#meetings">Meetings</a></li>
    <li><a href="#dossiers">Dossiers</a></li>
    <li><a href="#members">Members</a></li>
  </ul>
<div id="meetings">
{%for group in committee.agendas|groupby('meeting_date') if group.grouper >= today %}
  <h3>{{group.grouper|asdate}}</h3><ul>
    {% for meet in group.list %}
      <li>{{meet.title}}
        {%if meet.comdoc %}{%if meet.comref %}<a href="/dossier/{{meet.comref}}">{{meet.comdoc}}</a>{%else%}{{meet.comdoc}}{%endif%}{%endif%}
        {%if meet.tabling_deadline %}<div><strong>Tabling Deadline</strong> {{meet.tabling_deadline}}</div>{%endif%}
      </li>
    {%endfor%}
    </ul>
{% else %}
 <h3>No agenda known</h3>
{%endfor%}
</div>
<div id="dossiers">
  {%for grp in committee.dossiers|groupby('crole') %}
  <h3>{% if grp.grouper == 0%}Responsible{%else%}Opinion{%endif%}</h3>
  <ul>
  {%for group in grp.list|groupby('procedure.stage_reached') %}
    <li>{{group.grouper}}<ul>
       {% for dossier in group.list %}
       <li><a href="/dossier/{{dossier.procedure.reference}}">{{dossier.procedure.reference}}</a> {{dossier.procedure.title}}</li>
       {% endfor %}
    </ul></li>
  {%endfor%}
  </ul>
  {%endfor%}
</div>
<div id="members">
<table id='sortedlist' class="tablesorter">
   <thead>
      <tr>
         <th filter='false'>Name</th>
         <th filter-type='ddl'>Role</th>
         <th filter-type='ddl'>Group</th>
         <th filter-type='ddl'>Country</th>
      </tr>
   </thead>
   <tbody>
      {% for mep in committee.meps %}
      <tr>
         <td><a href="/mep/{{ mep.Name.full }}">{{ mep.Name.full }}</a></td>
         <td>{{ mep.crole }}</td>
         <td><img class="group_icon" title="icon: {{mep.Groups.0.groupid}}" src="/{{mep.Groups.0.groupid|group_icon}}" />
             {% if mep.Groups.0.groupid in groupids %}
               <a href="/meps/{{ mep.Groups.0.groupid }}?date={{now_date|asdate}}">{{mep.Groups.0.groupid }}</a>
             {% else %}
               {{mep.Groups.0.groupid }}
             {% endif %}
         </td>
         <td><img class="group_icon" title="icon: {{countries[mep.Constituencies.0.country]}}" src="/static/images/{{countries[mep.Constituencies.0.country]|lower}}.gif" /> <a href="/meps/{{ countries[mep.Constituencies.0.country] }}?date={{now_date|asdate}}">{{ mep.Constituencies.0.country }}</a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
</div>
</div>
{% endblock %}

