{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript">
     $(document).ready(function() {
       $('.has_summary').click(function() {
        $(this).next('div').toggleClass('hidden');
       });
       $( "#tabs" ).tabs();
       $('#notif_form').submit(function() {
           var group = $(this).children('input:eq(1)').attr('value');
            if(!group) {
                $.ajax({url: '/notification', success: function(data) { group = data;
                    $.ajax({url: group, success: function(data) {
                        $.ajax({url: group+'/add/emails/'+$('#notif_form').children('input:first').attr('value'), success: function(data) { $('#notif_subscr h3').html(data); }});
                        $.ajax({url: group+'/add/dossiers/'+$('#content > h2:first').html()});
                    }});
                }});
            } else {
            $.ajax({url: '/notification/'+group, success: function(data) {
                $.ajax({url: '/notification/'+group+'/add/emails/'+$('#notif_form').children('input:first').attr('value')});
                $.ajax({url: '/notification/'+group+'/add/dossiers/'+$('#content > h2:first').html(), success: function(data) {
                    $('#notif_subscr h3').html(data);
                    }});
                }});
            }
            return false;
       });
     });
    </script>
{% endblock %}
{% block content %}
<a class="asjson" href="{{url}}?format=json">download as json</a><br />
<div id="track_dossier"><a class="asjson" href="/notification">Track this dossier</a>
    <div class="hidden right" id="notif_subscr">
    <h3>Notification subscription</h3>
    <p>
        <form method="get" action="" name="notif_form" id="notif_form">
        E-mail: <input type="text" name="address" /><br />
        //required<br />
        Notification group: <input type="text" name="group" /><br />
        //generated if empty<br />
        <input type="submit" value="subscribe" />
        </form>
    </p>
    </div>
</div>
<h2>{{ dossier.procedure.reference }}</h2>
<p>{{dossier.procedure.title}}</p>
<p><strong>{{dossier.procedure.stage_reached}}</strong></p>
<div id="tabs">
  <ul>
    <li><a href="#general">General</a></li>
    {% if dossier.activities %}<li><a href="#activities">Activities</a></li>{% endif %}
    {% if dossier.docs|length %}<li><a href="#documents">Documents</a></li>{%endif%}
    {% if dossier.votes %}<li><a href="#votes">Votes</a></li>{%endif%}
  </ul>
<div id="general">
  {% if dossier.procedure.legal_basis %}
  <div>Legal Basis
  <ul>{%for sub in dossier.procedure.legal_basis%}<li>{{sub}}</li>{%endfor%}</ul></div>
  {% endif %}
<div>Links
<ul>
  <li><a href="{{dossier.meta.source}}">OEIL</a></li>
  <li><a href="http://www.google.com/search?q={{dossier.procedure.title}}+-europarl.europa.eu">Google</a></li>
  <li><a href="http://www.europarl.europa.eu/RegistreWeb/search/simple.htm?fulltext={{dossier.procedure.eprodid}}">Eprod</a></li>
</ul></div>
{% if dossier.comeets %}
<h3>Committees</h3>
  <div>Dossier of the Committee <a href="http://www.europarl.europa.eu/activities/committees/workingDocsCom/comparlDossier.do?dossier={{dossier.procedure.dossier_of_the_committee}}&body={{dossier.procedure.committee}}&language=EN">{{dossier.procedure.dossier_of_the_committee}}</a></div>
  {% for committee in dossier.comeets%}
    {% if committee|length == 4 %}<a href="/committee/{{committee}}">{{committee.committee}}</a>
    {%elif committee_map[committee]|length == 4 %}<a href="/committee/{{committee_map[committee]}}">{{committee.committee}}</a>
    {%else%}{{committee.committee}}{%endif%}
    meets on {{ committee.meeting_date|asdate }}
    <div>{{committee.title}}</div>
    {%if 'tabling_deadline' in committee%}<div><strong>Tabling deadline</strong> {{committee.tabling_deadline}}</div>{%endif%}
    {%if 'Rapporteur' in committee%}
    <dl><dt>Rapporteur</dt><dd>
      {% if committee|length == 4 %}<a href="/committee/{{committee}}">{{committee.committee}}</a>
      {%elif committee_map[committee]|length == 4 %}<a href="/committee/{{committee_map[committee]}}">{{committee.committee}}</a>
      {%else%}{{committee.committee}}{%endif%}
      {%for mep in committee.Rapporteur.rapporteurs%}
         <a href="/mep/{{mep.Name.full}}">{{mep.Name.full}}</a>
      {%endfor%}
    </dd></dl>
    {%endif%}
    {%if 'Opinions' in committee%}
    <dl><dt>Opinions</dt><dd>
      {% for com in committee.Opinions %}
        {% if com.committee|length == 4 %}<a href="/committee/{{com.committee}}">{{com.committee}}</a>
        {%elif committee_map[com.committee]|length == 4 %}<a href="/committee/{{committee_map[com.committee]}}">{{com.committee}}</a>
        {%else%}{{com.committee}}{%endif%}
        {%for mep in com.rapporteurs%}
          <a href="/mep/{{mep.Name.full}}">{{mep.Name.full}}</a>
        {%endfor%}
      {%endfor%}
    </dd></dl>
    {%endif%}
    {%if Misc in committee%}
    <ul>
      {%for line in committee.Misc%}
        <li>{{line}}</li>
      {%endfor%}
    </ul>
    {%endif%}
  {%endfor%}
{% else %}
  {% if dossier.procedure.agents %}
  <h3>Committees</h3>
  <div>Dossier of the Committee <a href="http://www.europarl.europa.eu/activities/committees/workingDocsCom/comparlDossier.do?dossier={{dossier.procedure.dossier_of_the_committee}}&body={{dossier.procedure.committee}}&language=EN">{{dossier.procedure.dossier_of_the_committee}}</a></div>
  <ul>{%for agent in dossier.procedure.agents%}
       {% if agent.commitee %}
       <li>
       {%if agent.responsible%}
          <strong>{% if agent.commitee|length == 4 %}<a href="/committee/{{agent.commitee}}">{{agent.commitee}}</a>
            {%elif committee_map[agent.commitee]|length == 4 %}<a href="/committee/{{committee_map[agent.commitee]}}">{{agent.commitee}}</a>
            {%else%}{{agent.commitee}}{%endif%}</strong>
          {%if dossier.procedure.dossier_of_the_committee %}<a href="http://www.europarl.europa.eu/activities/committees/workingDocsCom/comparlDossier.do?dossier={{dossier.procedure.dossier_of_the_committee}}&body={{dossier.procedure.committee}}&language=EN">{{dossier.procedure.dossier_of_the_committee}}</a>{%endif%}
       {%else%}
          {% if agent.commitee|length == 4 %}<a href="/committee/{{agent.commitee}}">{{agent.commitee}}</a>
          {%elif committee_map[agent.commitee]|length == 4 %}<a href="/committee/{{committee_map[agent.commitee]}}">{{agent.commitee}}</a>
          {%else%}{{agent.commitee}}{%endif%}
       {%endif%}
       {%if agent.name%}<a href="/mep/{{agent.name}}">{{agent.name}}</a>{%endif%}
       {%if agent.group%}<a href="/meps/{{agent.group}}">{{agent.group}}</a>{%endif%}
     </li>
     {%endif%}
    {%endfor%}
  </ul>
  {%endif%}
{%endif%}
<div>Subjects
<ul>{%for sub in dossier.procedure.subjects%}<li>{{sub}}</li>{%endfor%}</ul>
</div>
</div>
{% if dossier.activities %}
<div id="activities">
<h3>Activites</h3>
<ul>{%for act in dossier.activities%}
   <li class='vevent'>
     {%if act.date%}<abbr class="dtstart" title="{{act.date|isodate}}">{{act.date}}</abbr>{%endif%}
     {%if act.title%}<span class='summary'>{{act.title}}</span>{%endif%}
     {%if act.type%}{{act.type}}{%endif%}
     <ul>
     {%for agent in act.actors%}
        {%if agent.function == "MEP" %}
           <li class='agent'>
             {%if agent.responsible%}
                <strong>{% if agent.commitee|length == 4 %}<a href="/committee/{{agent.commitee}}">{{agent.commitee}}</a>
                  {%elif committee_map[agent.commitee]|length == 4 %}<a href="/committee/{{committee_map[agent.commitee]}}">{{agent.commitee}}</a>
                  {%else%}{{agent.commitee}}{%endif%}</strong>
                {%if dossier.procedure.dossier_of_the_committee %}<a href="http://www.europarl.europa.eu/activities/committees/workingDocsCom/comparlDossier.do?dossier={{dossier.procedure.dossier_of_the_committee}}&body={{dossier.procedure.committee}}&language=EN">{{dossier.procedure.dossier_of_the_committee}}</a>{%endif%}
             {%else%}
                {% if agent.commitee|length == 4 %}<a href="/committee/{{agent.commitee}}">{{agent.commitee}}</a>
                {%elif committee_map[agent.commitee]|length == 4 %}<a href="/committee/{{committee_map[agent.commitee]}}">{{agent.commitee}}</a>
                {%else%}{{agent.commitee}}{%endif%}
             {%endif%}
             {%if agent.name%}<a href="/mep/{{agent.name}}">{{agent.name}}</a>{%endif%}
             {%if agent.group%}<a href="/meps/{{agent.group}}?date={{act.date}}">{{agent.group}}</a>{%endif%}
           </li>
        {%endif%}
        {%if agent.body == "CSL" %}
           <li class='agent'>
             {%if agent.department%}{{agent.department}}{%endif%}
             {%if agent.meeting_id%}#{{agent.meeting_id}}{%endif%}
           </li>
        {%endif%}
     {%endfor%}
     </ul>
     <div>
     {%for doc in act.documents%}
        {%if doc.url %}
          {%if doc.summary%}
             <a class="has_summary">{{doc.title}}</a>
             <div class="hidden" id="{{doc.title}}-summary">
               {%for line in doc.summary %}
               {{line|striptags}}
               {%endfor%}
             </div>
          {%else%}
             {{doc.title}}
          {%endif%}
        <a href="{{doc.url}}">[↓]</a>
        {%endif%}
     {%endfor%}
     </div>
   </li>
  {%endfor%}
</ul>
</div>
{% endif %}
{% if dossier.docs|length %}
  <div id="documents">
  <h3>Documents</h3>
  <ul>
  {%for doc in dossier.docs%}
    {%if doc.url %}
      <li>
      {%if doc.summary%}
         <a class="has_summary">{{doc.title}}</a>
         {{doc.type}}
         <div class="hidden" id="{{doc.title}}-summary">
           {%for line in doc.summary %}
           {{line|striptags}}
           {%endfor%}
         </div>
      {%else%}
         {{doc.title}} {{doc.type}}
      {%endif%}
      <a href="{{doc.url}}">[↓]</a>
      </li>
    {%endif%}
  {%endfor%}
  </ul>
  </div>
{%endif%}
{% if dossier.votes %}
<div id="votes">
<h3>Votes</h3>
{%for vote in dossier.votes|sort(attribute='ts')%}
<h4>{{vote.title}}</h4>
  <div>{{vote.ts|asdate}}</div>
  <table class="votes">
     <thead>
        <tr>
          <td>Position</td>
          <td>Total</td>
          {% for g in vote.groups|sort %}
            {% if g not in ['correctional', 'total']%}
            <td><a href="/meps/{{g}}?date={{vote.ts|asdate}}">{{g}}</a></td>
            {%endif%}
          {%endfor%}
          <td>correctional</td>
        </tr>
     </thead>
     <tbody>
       <tr>
         <td>For</td>
         <td>{{vote.For.total}}</td>
         {% for k,v in vote.For.items()|sort %}
            {% if k not in ['correctional', 'total']%}
            <td>{{v|length}}</td>
            {%endif%}
         {%endfor%}
         {% if 'correctional' in vote.For%}
           <td>{{vote.For.correctional|length}}</td>
         {%endif%}
       </tr>
       <tr>
         <td>Against</td>
         <td>{{vote.Against.total}}</td>
         {% for k,v in vote.Against.items()|sort %}
            {% if k not in ['correctional', 'total']%}
            <td>{{v|length}}</td>
            {%endif%}
         {%endfor%}
         {% if 'correctional' in vote.Against%}
           <td>{{vote.Against.correctional|length}}</td>
         {%endif%}
       </tr>
       <tr>
         <td>Abstain</td>
         <td>{{vote.Abstain.total}}</td>
         {% for k,v in vote.Abstain.items()|sort %}
            {% if k not in ['correctional', 'total']%}
            <td>{{v|length}}</td>
            {%endif%}
         {%endfor%}
         {% if 'correctional' in vote.Abstain%}
           <td>{{vote.Abstain.correctional|length}}</td>
         {%endif%}
       </tr>
     </tbody>
  </table>
{%endfor%}
</div>
{% endif %}
{% endblock %}
