{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript">
     $(document).ready(function() {
       $('#ranking_date').click(function() {
        if($(this).attr('value') == 'DD/MM/YYYY') $(this).attr('value', '');
       });
       $('#ranking_form').submit(function() {
        window.location = '/meps/'+$('#ranking_date').attr('value');
        return false;
       });
       $('.more').click(function() {
        $(this).next().toggleClass('hidden');
       });
		 $( "#tabs" ).tabs();
     });
    </script>
{% endblock %}
{% block content %}
<a class="asjson" href="{{url}}?format=json">download as json</a>
<br style="clear: both" />
<div id="tabs">
  <ul>
    <li><a href="#general">General</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#committees">Committees</a></li>
    <li><a href="#delegations">Delegations</a></li>
    {% if mep.dossiers %}<li><a href="#dossiers">Dossiers</a></li>{%endif%}
    {% if mep.CV %}<li><a href="#cv">Curriculum Vitae</a></li>{%endif%}
  </ul>
<div id="general">
<div class="mepshot">
<img src="http://www.europarl.europa.eu/mepphoto/{{mep.UserID}}.jpg">
</div>
<h2>{{ mep.Name.full }}</h2>
<ul>
{%for c in mep.Constituencies|sort(attribute='start',reverse=True) %}
  {% if c.end>today%}
    <li>
    {{c.country}}
    {{c.party}}
    {{c.start|asdate}} - ...
    </li>
  {% endif %}
{% endfor %}
</ul>
{% if mep.active %}
  <div class="more" >Show earlier Constituencies...</div>
  <ul class="hidden">
{%else%}
  <ul>
{%endif%}
{%for c in mep.Constituencies|sort(attribute='start',reverse=True) %}
  {% if c.end<today%}
    <li>
    {{c.country}}
    {{c.party}}
    {{c.start|asdate}} - {{c.end|asdate}}
    </li>
  {% endif %}
{% endfor %}
</ul>
<h3>Groups</h3>
<ul>
{%for c in mep.Groups|sort(attribute='start',reverse=True) %}
  {% if c.end>today%}
    <li>
    {{c.groupid}}
    {{c.role}}
    {%if c.group%}{{c.group}}{%else%}{{c.Organization}}{%endif%}
    {{c.start|asdate}} - ...
    </li>
    {% break %}
  {% endif %}
{% endfor %}
</ul>
{% if mep.active %}
<div class="more">Show earlier groups...</div>
<ul class="hidden">
{%else%}
  <ul>
{%endif%}
{%for c in mep.Groups|sort(attribute='start',reverse=True) %}
  {% if c.end<=today%}
   <li>
    {{c.country}}
    {{c.groupid}}
    {{c.role}}
    {%if c.group%}{{c.group}}{%else%}{{c.Organization}}{%endif%}
    {{c.start|asdate}} - {{c.end|asdate}}
  </li>
  {% endif %}
{% endfor %}
</ul>

{% if 'Staff' in mep %}
<h3>EP staff</h3>
<ul>
{%for c in mep.Staff|sort(attribute='start',reverse=True) %}
   {% if c.end>today%}
   <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - ...
  </li>
  {%endif%}
{% endfor %}
</ul>
{% if mep.active %}
<div class="more">Show earlier staff positions...</div>
<ul class="hidden">
{%else%}
  <ul>
{%endif%}
{%for c in mep.Staff|sort(attribute='start',reverse=True) %}
  {% if c.end<=today%}
    <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - {{c.end|asdate}}
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}
</div>

<div id="committees">
<h3>Committees</h3>
<ul>
{%for c in mep.Committees|sort(attribute='start',reverse=True) %}
   {% if c.end>today%}
   <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - ...
  </li>
  {%endif%}
{% endfor %}
</ul>
{% if mep.active %}
<div class="more">Show earlier commitees...</div>
<ul class="hidden">
{%else%}
  <ul>
{%endif%}
{%for c in mep.Committees|sort(attribute='start',reverse=True) %}
  {% if c.end<=today%}
    <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - {{c.end|asdate}}
  </li>
  {% endif %}
{% endfor %}
</ul>
</div>

{% if 'Addresses' in mep %}
<div id="contact">
<h3>Contact</h3>
{% if mep.Homepage or mep.Mail%}
<h4>Online</h4>
<ul>
{% if mep.Homepage%}
  <li><dl><dt>Homepage</dt><dd><a href="{{mep.Homepage}}">{{mep.Homepage}}</a></dd></dl></li>
{%endif%}
{% if mep.Mail%}
  <li><dl><dt>Mail</dt><dd>{{mep.Mail}}</dd></dl></li>
{%endif%}
</ul>
{%endif%}
<h4>Brussels</h4>
<ul>
   <li><dl><dt>Phone</dt><dd>{{mep.Addresses.Brussels.Phone}}</dd></dl></li>
   <li><dl><dt>Fax</dt><dd>{{mep.Addresses.Brussels.Fax}}</dd></dl></li>
   <li><dl><dt>Office</dt><dd>{{mep.Addresses.Brussels.Address.Building}} {{mep.Addresses.Brussels.Address.Office}}</dd></dl></li>
   <li><dl><dt class='more'>Address</dt><dd class='hidden'>
      <ul>
        <li><dl><dt>City</dt><dd>{{mep.Addresses.Brussels.Address.City}}</dd></dl></li>
        <li><dl><dt>Zip</dt><dd>{{mep.Addresses.Brussels.Address.Zip}}</dd></dl></li>
        <li><dl><dt>Street</dt><dd>{{mep.Addresses.Brussels.Address.Street}}</dd></dl></li>
      </ul>
   </dd></dl></li>
</ul>
<h4>Strasbourg</h4>
<ul>
   <li><dl><dt>Phone</dt><dd>{{mep.Addresses.Strasbourg.Phone}}</dd></dl></li>
   <li><dl><dt>Fax</dt><dd>{{mep.Addresses.Strasbourg.Fax}}</dd></dl></li>
   <li><dl><dt>Office</dt><dd>{{mep.Addresses.Strasbourg.Address.Building}} {{mep.Addresses.Strasbourg.Address.Office}}</dd></dl></li>
   <li><dl><dt class='more'>Address</dt><dd class='hidden'>
   <ul>
      <li><dl><dt>City</dt><dd>{{mep.Addresses.Strasbourg.Address.City}}</dd></dl></li>
      <li><dl><dt>Zip</dt><dd>{{mep.Addresses.Strasbourg.Address.Zip1}} - {{mep.Addresses.Strasbourg.Address.Zip2}}</dd></dl></li>
      <li><dl><dt>Street</dt><dd>{{mep.Addresses.Strasbourg.Address.Street}}</dd></dl></li>
   </ul>
</ul>
<h4>Postal</h4>
<ul>
  {%for a in mep.Addresses.Postal%}
  <li>{{a}}</li>
  {%endfor%}
  </ul>
</ul>
</div>
{%endif%}

<div id="delegations">
<h3>Delegations</h3>
<ul>
{%for c in mep.Delegations|sort(attribute='start',reverse=True) %}
   {% if c.end>today%}
   <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - ...
  </li>
  {%endif%}
{% endfor %}
</ul>
{% if mep.active %}
<div class="more">Show earlier delegations...</div>
<ul class="hidden">
{%else%}
  <ul>
{%endif%}
{%for c in mep.Delegations|sort(attribute='start',reverse=True) %}
  {% if c.end<=today%}
    <li>
    {{c.role}} of
    {{c.Organization}}
    {{c.start|asdate}} - {{c.end|asdate}}
  </li>
  {% endif %}
{% endfor %}
</ul>
</div>
{% if mep.dossiers %}
  <div id='dossiers'>
  <h3>Rapporteur</h3>
  <ul>
    {%for doc,resp in mep.dossiers%}
    <li>{%if not resp%}(shadow){%endif%} <a href="/dossier/{{doc.procedure.reference}}">{{doc.procedure.reference}}</a> {{doc.procedure.title}}</li>
    {%endfor%}
  </ul>
  </div>
{%endif%}
{% if mep.CV %}
  <div id='cv'>
  <h3>Curriculum Vitae</h3>
  <ul>
    {%for line in mep.CV%}
    <li>{{line}}</li>
    {%endfor%}
  </ul>
  </div>
{%endif%}
{% endblock %}
