{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"> </script>
    <script type="text/javascript" src="/static/js/picnet.table.filter.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function() {
        $("#sortedlist").tablesorter();
        $('#sortedlist').tableFilter({enableCookies: false});
     });
    </script>
{% endblock %}
{% block content %}
<a class="asjson" href="{{url}}?format=json">download as json</a>
<h2>Members of the European Parliament</h2>
<h3>{%if country or group%}from <img class="group_icon" alt="icon: {{countries[country]}}" src="/static/images/{{countries[country]|lower}}.gif" /> {{country}}{%if group and country %}/{%endif%}{%if group%}<img class="group_icon" alt="icon: {{group}}" src="/{{group|group_icon}}" /> {{group}}{%endif%}{%endif%} as of  {{ d|asdate }}</h3>

<table id='sortedlist' class="tablesorter">
   <thead>
      <tr>
         <th filter='false'>Name</th>
         <th filter-type='ddl'>Role</th>
         {% if not group %}<th filter-type='ddl'>Group</th>{% endif %}
         {% if not country %}<th filter-type='ddl'>Country</th>{% endif %}
      </tr>
   </thead>
   <tbody>
      {% for ranking in rankings %}
      <tr>
         <td><a href="/mep/{{ ranking.2.Name.full }}">{{ ranking.2.Name.full }}</a></td>
         <td>{{ ranking.2.Groups.0.role }}</td>
         {% if not group %}<td><img class="group_icon" alt="icon: {{ranking.2.Groups.0.groupid}}" src="/{{ranking.2.Groups.0.groupid|group_icon}}" /> {% if ranking.2.Groups.0.groupid in groupids %}<a rel="nofollow" href="/meps/{{ ranking.2.Groups.0.groupid }}?date={{d|asdate}}">{{ranking.2.Groups.0.groupid }}</a>{% else %}{{ranking.2.Groups.0.groupid }}{% endif %}</td>{% endif %}
         {% if not country %}<td><img class="group_icon" alt="icon: {{countries[ranking.2.Constituencies.0.country]}}" src="/static/images/{{countries[ranking.2.Constituencies.0.country]|lower}}.gif" /> <a rel="nofollow" href="/meps/{{ countries[ranking.2.Constituencies.0.country] }}?date={{d|asdate}}">{{ ranking.2.Constituencies.0.country }}</a></td>{% endif %}
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}

