{% extends "base.html" %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column ui accordion">
         <h1>{% if activities|length == 1%}{{activities[type]|length}} {{type|asactivity}}{%else%}Activities{%endif%} of <a href="/mep/{{mep_id}}">{{ mep_name }}</a>{% if dossier_id %} related to {{ dossier_id|asdossier|safe}}{%endif%}</h1>
          {% for t in activities %}
          {% if activities[t] is iterable and t not in ('mep_id', 'meta', 'changes') %}
          {% if activities|length > 1%}<div class="{% if type or dossier_id %}active {% endif %}title"><h2>{{ t|asactivity}} ({{activities[t]|length}})<i class="dropdown icon"></i></h2></div>{%endif%}
          <div class="{% if type or dossier_id %}active {% endif %}content">
             <div class="ui fluid divided items">
             {% for a in activities[t] %}
             <div class="item">
             <div class="content">
                <div class="header">
                   {% if t == 'amendments' %}
                        <div class="title hover">Amendment {{a.seq}} <a class="anchorLink" name="am-{{a.seq}}-{{a.src|asPE}}" href="#am-{{a.seq}}-{{a.src|asPE}}">#</a></div>
                   {% else %}
                      {{ a['title'] }}
                   {% endif %}
                </div>
                <div class="description">
                   {% if not dossier_id %}<h3><a href="{{ a['url'] }}">{{ a['reference'] }}</a></h3>{%endif%}
                   {% if t == 'amendments' %}
                        <div class="authors">{% for m in a.meps%}{{m|asmep|safe}}{% if not loop.last %}, {%endif%}{%endfor%}</div>
                        <div class="location">{% for d,l in a.location%}<div>{{d}}<br />{{l}}</div>{%endfor%}</ul></div>
                        <div class="ui segment diff">{{a|asdiff|safe}}</div>
                   {% else %}
                     {{ a['text'] }}
                   {% endif %}
                </div>
                <div class="meta">
                   {%if 'date' in a %}{{ a['date']|asdate }}{%endif%}
                   {% if 'committee' in a %}<br />Committee: 
                      {% if a['committee'] is iterable and a['committee'] is not string -%}
								 {%- for c in a['committee'] %}<a href='/committee/{{c}}'>{{ c }}</a>{%endfor-%}
						    {%-else-%}
							    <a href='/committee/{{a['committee']}}'>{{ a['committee'] }}</a>
                      {%-endif-%}
					    {%-endif-%}
                   {% if 'dossiers' in a %}<br />Dossiers: {% for d in a['dossiers']%}{{ d|asdossier|safe }}{% endfor %}{% endif %}
                   {% if 'formats' in a %}<br />Documents: {% for f in a['formats']%}<a href="{{ f['url'] }}">{{ f['type'] }}</a>{{f['size']}} {% endfor %}{% endif %}
                   {% if 'authors' in a and t!= 'amendments' %}<br />Authors: 
							 {% if t=="WDECL" and a.authors is iterable and a.authors is not string %}
								 {% for m in a.authors %}{{m['mepid']|asmep|safe}}{% if not loop.last %}, {%endif%}{%endfor%}
							{%else%}{{ a['authors'] }}{% endif %}{%endif%}
                </div>
             </div>
             </div>
             {% endfor %}
          </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
	</div>
  </div>
</div>
<script type="text/javascript" src="/static/js/activities.js"></script>
{% endblock %}
