<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %} [ParlTrack]</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta content="" property="og:image" />
    <meta content="" property="og:title" />
    <meta content="" property="og:description" />
    <meta name="description" content="">


    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">


    <link href="{{ url_for('static', filename='css/semantic.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.address.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/protect_address.js') }}"></script>
    <noscript>
       <link href="{{ url_for('static', filename='css/noscript.css') }}" rel="stylesheet" type="text/css" />
    </noscript>
  </head>
  <body class="{% if not display_mode %}{%elif display_mode == "hard"%}super_blink{%else%}blink{% endif %}">
	  <div class="ribbon"><span>BETA</span></div>
<div class="content">
  <div class="ui stackable menu">
      <a class="header item{% if request.url_rule.endpoint == 'home' %} active{% endif %}" href="{{ url_for('home') }}">Home</a>
      <a class="item{% if request.url_rule.endpoint == 'meps' %} active{% endif %}" href="{{ url_for('meps') }}">MEPs</a>
      <a class="item{% if request.url_rule.endpoint == 'dossiers' %} active{% endif %}" href="{{ url_for('dossiers') }}">Dossiers</a>
      <a class="item{% if request.url_rule.endpoint == 'committees' %} active{% endif %}" href="{{ url_for('committees') }}">Committees</a>
      <a class="item{% if request.url_rule.endpoint == 'subjects' %} active{% endif %}" href="{{ url_for('subjects') }}">Subjects</a>
      <a class="item" href="/blog">Blog</a>
      <a class="item{% if request.url_rule.endpoint == 'about' %} active{% endif %}" href="{{ url_for('about') }}">About</a>
      <a class="item{% if request.url_rule.endpoint == 'dumps' %} active{% endif %}" href="{{ url_for('dumps') }}">Dumps</a>
	  <div class="right menu">
	  	 <div class="ui right aligned category search item">
	  		<div class="ui transparent icon input">
           <form action="/search" method="get">
              <input {%if q%}value="{{ q|e }}" {%endif%}class="prompt" type="text" placeholder="Search.." name="q">
           </form>
	  		</div>
	  		<div class="results"></div>
	  	 </div>
    </div>
  </div>
{% block content %}{% endblock %}
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui container">
     <div class="eight wide column">
      <div class="ui inverted header">
         <div class="smalltext"><i class="twitter icon"></i><a href="https://twitter.com/parltrack">@parltrack</a></div>
         <div class="smalltext"><i class="envelope icon"></i>{{ 'parltrack@parltrack.org'|protect_email|safe }}</div>
      </div>
     </div>
      <div class="ui stackable inverted equal height stackable grid">
        <div class="eight wide column">
           <div class="ui inverted list">
              <div class="smalltext"><a href="https://github.com/parltrack/parltrack/">code</a> <a href="https://www.gnu.org/licenses/agpl.html">AGPLv3.0+</a></div>
              <div class="smalltext"><a href="{{ url_for('dumps') }}">data</a> <a href="http://www.opendatacommons.org/licenses/odbl/">ODBLv1.0</a></div>
              <div class="smalltext">site content <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-By-Sa-3.0</a></div>
          </div>
        </div>
        <div class="eight wide right aligned bottom aligned column">
          <h4 class="ui inverted header">ParlTrack - 2011-2021</h4>
        <div class="smalltext"><a href="http://www.europarl.europa.eu/tools/disclaimer/default_en.htm">© European Union, 2011 – Source: European Parliament</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
