{% macro changes(data) -%}
   {% if data.changes %}
     <div id="history" data-tab="history" class="ui tab">
        <h3>History</h3>
        <p><small>(these mark the time of scraping, not the official date of the change)</small></p>
        {% for k, changes in data.changes|dictsort|reverse %}
           {% if changes %}
              <div class="ui accordion changelog-item">
                 <div class="title">{{k[:10]}}<i class="dropdown icon"></i><a>Show ({{changes|length}}) Changes</a> | <a href="?date={{k}}" rel="nofollow">Timetravel</a></div>
                 <table class="ui content table small compact">
                 {% for change in changes|sort(attribute='path') %}
                     <tr>
                        <td class="changelog-path">{{change.path|join('/')}}</td>
                        {% if change.type == "changed" %}
                           <td class="ui grid container padded changelog-data">
                              <div class="eight wide column changelog-old">
                                 <div class="centered">Old</div>
                                 {%if change.data.0 %}{{change.data.0|printdict|safe}}{%else%}&nbsp;{%endif%}</div>
                              <div class="eight wide column changelog-new">
                                 <div class="centered">New</div>
                                 {%if change.data.1 %}{{change.data.1|printdict|safe}}{%else%}&nbsp;{%endif%}</div>
                           </td>
                        {% else %}
                           <td colspan="2" class="changelog-data {{change.type}}">{{change.data|printdict|safe}}</td>
                        {% endif %}
                     </tr>
                 {% endfor %}
                 </table>
              </div>
           {%endif%}
        {% endfor %}
     </div>
   {%endif%}
{% endmacro %}
