{% extends "base.html" %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
         <h1>Committees ({{ committees|length }})</h1>
          <div class="ui fluid items">
          {% for s,c in committees.items() %}
          <div class="item">
            <div class="content">
               <div class="header">{% if s %}<a href="/committee/{{ s }}">{{ c.organization }}</a> ({{ s }}){% else %}{{ c.organization }}{% endif %}</div>
             <div class="description">
                <span class="ui {% if c.active %}blue {% endif %}label">{% if c.active %}Active{% else %}Inactive{% endif %}</span> Dossiers: {{ c.dossiers or 0 }}
             </div>
           </div>
          </div>
          {% endfor %}
          </div>
      </div>
	</div>
  </div>
</div>
{% endblock %}
