{% extends "base.html" %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
         <h1>Dossiers</h1>
         <div>
            <table id="dossiers" class="ui table">
               <thead>
               <tr>
                  <th>Reference</th>
                  <th>Title</th>
                  <th data-filter='ddl' data-default-filter='["Active"]'
                      data-filter-group='{"Active": ["Preparatory phase in Parliament",
                      										 "Awaiting Council 1st reading position / budgetary conciliation convocation",
                      										 "Awaiting Parliament 1st reading / single reading / budget 1st stage",
                      										 "Awaiting Council decision on delegated act",
                      										 "Awaiting committee decision",
                      										 "Provisional agreement between Parliament and Council on final act",
                      										 "Awaiting final decision"],
                      						 "Inactive": ["Procedure completed",
                      										  "Awaiting signature of act",
                      										  "Procedure completed, awaiting publication in Official Journal",
                      										  "Procedure lapsed or withdrawn",
                      										  "Procedure completed - delegated act enters into force",
                      										  "Procedure completed - delegated act rejected",
																	  "Procedure rejected"]}'>Stage Reached</th>
                  <th data-filter='ddl'>Lead Committee</th>
               </tr>
               </thead>
               <tbody>
               {% for d in dossiers %}
               <tr>
                  <td>{{ d['reference']|asdossier|safe }}</td>
                  <td>{{ d['title'] }}</td>
                  <td>{{ d['stage_reached'] }}</td>
                  <td><a href="/committee/{{ d['lead_committee'] }}">{{ d['lead_committee'] }}</a></td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
	</div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/ptfilter.js') }}"></script>
<script src="{{ url_for('static', filename='js/dossiers.js') }}"></script>
{% endblock %}
