{% extends "base.html" %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
         <h1>Dossiers</h1>
         <div>
            <table id="dossiers" class="ui table">
               <thead>
               <tr>
                  <th>Reference</th>
                  <th>Title</th>
                  <th>Stage Reached</th>
                  <th>Lead Committee</th>
               </tr>
               </thead>
               <tbody>
               {% for d in dossiers %}
               <tr>
                  <td>{{ d['reference']|asdossier|safe }}</td>
                  <td>{{ d['title'] }}</td>
                  <td>{{ d['stage_reached'] }}</td>
                  <td><a href="/committee/{{ d['lead_committee'] }}">{{ d['lead_committee'] }}</a></td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
	</div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/TableFilter.js') }}"></script>
<script src="{{ url_for('static', filename='js/dossiers.js') }}"></script>
{% endblock %}
