{% extends "base.html" %}
{% block title %}{{ dossier.procedure.reference }} | {% endblock %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
     <div class="ui horizontal list">
      <div class="item"><a href="{{url}}?format=json" rel="nofollow">download json</a></div>
      <!--<div class="item"><a class="hidden" id="wikinotes" href="{{dossier.procedure.reference|reftopath}}">Notes</a></div>-->
      <div class="item" id="track_dossier"><a href="#">Subscribe</a>
          <div class="nondisplayed" id="notif_subscr">
          <div>
              <form method="get" action="#" id="notif_form">
                 <div>
                    <input placeholder="E-mail" id="emailinput" type="text" name="address"/>
                    <input placeholder="Group name" type="text" name="group" id="groupinput" />
                    <input type="submit" value="subscribe" />
                 </div>
              </form>
          </div>
          </div>
      </div>
     </div>
    </div>
    <div class="row">
      <div class="left aligned column">
         {% if change_dates %}
         <div class="ui yellow icon message">
           <i class="pink icon history"></i>
           <div class="content">
             <div class="header">
                This is a historical view ({{now_date|asdate}})
             </div>
				 <p>Changes: {% for d, c in change_dates %}<a href="?date={{d}}" class="tooltipz">{{d|asdate}}<span class='bottom'>{{c}}<i></i></span></a>{% if not loop.last %}, {%endif%}{%endfor%}</p>
				 <p><a href="?">View current state</a> | <a href="#/history">View Changes for this date</a></p>
             {% if tt_fail %}
             <div class="ui negative message"><div class="header">Sorry, but we failed to recreate history before {{ tt_fail }}</div></div>
             {% endif %}
           </div>
         </div>
         {% endif %}
         <div id="tabs"  class="ui top attached tabular menu wrapped">
            <a class="active item" data-tab="general">General</a>
            {% if dossier.events|length > 0 %}<a class="item" data-tab="events">Events ({{dossier.docs|length}})</a>{% endif %}
            {% if dossier.docs|length > 0 %}<a  class="item" data-tab="documents">Documents</a>{%endif%}
            {% if dossier.mep_activities|length > 0 %}<a class="item" data-tab="activities">Activities ({{dossier.mep_activities|length}})</a>{%endif%}
            {% if dossier.vmatrix|length > 0 %}<a class="item" data-tab="votes">Votes ({{dossier.vmatrix|length}})</a>{%endif%}
            {% if dossier.amendments|length > 0 %}<a class="item" data-tab="ams">Amendments ({{dossier.amendments|length}})</a>{%endif%}
            {% if dossier.changes|length > 0 %}<a class="item" data-tab="history">History ({{dossier.changes|length}})</a>{%endif%}
         </div>
         <br/><br/>
<div id="general" class="ui active tab" data-tab="general">

<div>
   <b><span id="dossier_ref">{{dossier.procedure.reference}}</span> {{dossier.procedure.title}}</b><br>
   {% if msg %}
   <div class="ui negative message">
      <div class="header"><i class="exclamation triangle icon"></i> Error</div>
      <p>{{ msg|safe }}</p>
   </div>
   {% endif %}
   {% for fc in dossier.events if fc.date is string and fc.date>now_date %}
      {% if loop.first %}
         Next event: {{fc.type}} <abbr title="{{fc.date}}">{{fc.date|asdate}}</abbr>
         {% if not loop.last %}
         <a class='button'>more...</a>
            <ul class="hidden">
         {% endif %}
      {% else %}
         <li>{{fc.type}} <abbr title="{{fc.date}}">{{fc.date|asdate}}</abbr></li>
      {%endif%}
      {% if not loop.first and loop.last %}</ul>{% endif%}
   {% endfor %}

   <h4>Progress: {{dossier.procedure.stage_reached}}</h4>
   <div class="ui indicating progress"  data-value="{{ progress }}" data-total="100">
      <div class="bar">
          <div class="progress"></div>
      </div>
   </div>

{%for committee in dossier.committees %}
   {% if loop.first %}
      <table class="ui table">
      <thead><tr><th>Role</td><th>Committee</th><th>Rapporteur</th><th>Shadows</th></tr></thead>
   {% endif %}
    <tr>
       <td>
          {%if committee.type == "Responsible Committee"%}Lead
          {% else %}{{committee.type}}{%endif%}
       </td>
       <td>
          {% if committee.committee|length == 4 %}<a href="/committee/{{committee.committee}}#dossiers">{{committee.committee}}</a>
          {%elif committee_map[committee.committee]|length == 4 %}<a href="/committee/{{committee_map[committee.committee]}}#dossiers">{{committee.committee}}</a>
          {%else%}{{committee.committee}}{%endif%}
       </td>
       <td>
          {% for a in committee.rapporteur %}
             <a href="/mep/{{a.name}}">{{a.name}}</a> (<a href="/meps/{{a.abbr}}"><img class="ui middle aligned image" alt="icon: {{a.abbr}}" src="/{{a.abbr|group_icon}}" /> {{a.abbr}}</a>){% if not loop.last %},{%endif%}
          {% endfor %}
       </td>
       <td>
          {% for a in committee.shadows %}
             <a href="/mep/{{a.name}}">{{a.name}}</a> (<a href="/meps/{{a.abbr}}"><img class="ui middle aligned image" alt="icon: {{a.abbr}}" src="/{{a.abbr|group_icon}}" /> {{a.abbr}}</a>){% if not loop.last %},{%endif%}
          {% endfor %}
       </td>
  </tr>
  {% if loop.last %}</table>{% endif %}
  {%endfor%}
  {% if dossier.procedure.dossier_of_the_committee %}<h5>Lead committee dossier:<h5> 
   <ul>
     {% if dossier.procedure.dossier_of_the_committee is not string %}
      {%for x in dossier.procedure.dossier_of_the_committee -%}
      <li><a href="http://www.europarl.europa.eu/committees/en/{{x.split('/')[0].lower()}}/search-in-documents.html?linkedDocument=true&ufolderComCode={{dossier.procedure.committee}}&ufolderLegId={{x.split('/')[1]}}&ufolderId={{x.split('/')[2]}}&urefProcYear=&urefProcNum=&urefProcCode=">{{x}}</a></li>
      {%-endfor-%}
      {%-else-%}
      <li><a href="http://www.europarl.europa.eu/committees/en/{{dossier.procedure.dossier_of_the_committee.split('/')[0].lower()}}/search-in-documents.html?linkedDocument=true&ufolderComCode={{dossier.procedure.committee}}&ufolderLegId={{dossier.procedure.dossier_of_the_committee.split('/')[1]}}&ufolderId={{dossier.procedure.dossier_of_the_committee.split('/')[2]}}&urefProcYear=&urefProcNum=&urefProcCode=">{{dossier.procedure.dossier_of_the_committee}}</a></li>
      {%-endif-%}
   </ul>
  {%endif%}
   {% if dossier.procedure.legal_basis %}
   <h5>Legal Basis:</h5>
     {%for sub in dossier.procedure.legal_basis%}{{sub}}{% if not loop.last %}, {%endif%}{%endfor%}
   {% endif %}
</div>

{% for committee in dossier.comeets|sort(attribute='resp',reverse=True) if committee.date and committee.date > now_date %}
 {%if loop.first %}
   <h3>Upcomming Committee events</h3>
   <ul>
 {%endif%}
 <li>
 {{ committee.date|asdate }}
 EP: On
 {% if committee.resp %}<b>{%endif%}
 {% if committee.committee|length == 4 %}<a href="/committee/{{committee.committee}}">{{committee.committee}}</a>
 {%elif committee_map[committee.committee]|length == 4 %}<a href="/committee/{{committee_map[committee.committee]}}">{{committee.committee}}</a>
 {%else%}{{committee.committee}}{%endif%}
 {% if committee.resp %}</b>{%endif%}
 agenda
 {%if 'tabling_deadline' in committee and committee.tabling_deadline > now_date %}<div><strong>Tabling deadline</strong> {{committee.tabling_deadline}}</div>{%endif%}
 {%if Misc in committee%}
    {%for line in committee.Misc%}
        {% if loop.first %}<ul>{% endif %}
        <li>{{line}}</li>
        {% if loop.last %} </ul>{% endif %}
    {%endfor%}
 {%endif%}
 </li>
 {%if loop.last %}</ul>{%endif%}
{%endfor%}

<div><h5>Subjects</h5>
{%if dossier.procedure.subject is mapping %}
{%for sid, sub in dossier.procedure.subject.items()%}
    {% if loop.first %}<ul>{% endif %}
       <li><a href="/subject/{{sid}}">{{sid}} {{sub}}</a></li>
    {% if loop.last %} </ul>{% endif %}
{%endfor%}
{%else%}
{%for sub in dossier.procedure.subject%}
    {% if loop.first %}<ul>{% endif %}
       <li><a href="/subject/{{sub.split()[0]}}">{{sub}}</a></li>
    {% if loop.last %} </ul>{% endif %}
{%endfor%}
{%endif%}
</div>

<div><h5>Links</h5>
<ul>
  {% if dossier.celexid %}<li>The final text on <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri={{dossier.celexid[:-3]}}">Eurlex</a></li>{% endif %}
  <li><a href="{{dossier.meta.source}}">OEIL</a></li>
  <li><a href="http://www.google.com/search?q={{dossier.procedure.title}}+-europarl.europa.eu">Google</a></li>
  <li><a href="http://www.europarl.europa.eu/RegistreWeb/search/simple.htm?language=EN&fulltext=&reference={{dossier.procedure.reference}}&relName=&auteurSearch=&codeTypeDocuSearch=&datepickerStart=&datepickerEnd=">EP Register of documents</a></li>
  {% if dossier.ipex and dossier.ipex.Scrutiny %}<li><a href="{{dossier.ipex.Scrutiny}}">IPEX National Scrutiny</a></li>{% endif %}
</ul></div>
</div>

{% if dossier.events %}
<div id="events" class="ui tab" data-tab="events">
<h3>Events</h3>
<div class="ui feed">
   {%for act in dossier.events %}
	  <div class="event">
		 <!-- <div class="label">
			<img src="/static/images/x.gif">
       </div> -->
		 <div class="content">
			<div class="summary">
			  <div class="date">
              {% if act.date is iterable and act.date is not string %}
                 {% for d in act.date %}
                    {{ d|asdate }}
                 {% endfor %}
              {% else %}
                 {{ act.date|asdate }}
              {% endif %}
			  </div>&nbsp;&nbsp;
           {% if act.body %}{{ act.body }} - {% endif %}<span class="user">{{ act.type }}</span>
			</div>
       {% if act.summary %}
       <div class="ui accordion">
          <div class="title left_padded"><i class="dropdown icon"></i>Details</div>
          <div class="content left_padded">
             {% for a in act.summary %}
                 <p>{{ a|striptags }}</p>
             {% endfor %}
          </div>
       </div>
       {% endif %}
       {% if act.docs %}
       <div class="ui accordion">
          <div class="title left_padded"><i class="dropdown icon"></i>Documents</div>
          <div class="content left_padded">
             {% for d in act.docs %}
             <a href="{{ d.url }}">{{ d.title }}</a><br />
             {% endfor %}
          </div>
       </div>
       {% endif %}
		 </div>
	  </div>
   {%endfor%}
</div>
</div>
{% endif %}

{% if dossier.docs|length > 0 %}
<div id="documents" class="ui tab" data-tab="documents">
<h3>Documents</h3>
   <ul>
   {% for act in dossier.events %}
      {%for doc in act.docs%}
         <li>{{act.type}}:
         {%if doc.celexid %}
            <a href='http://eur-lex.europa.eu/legal-content/EN/TXT/?uri={{doc.celexid[:-3]}}'>{{doc.title}}</a>
         {%else%}
            {%if doc.url %}<a href='{{doc.url}}'>{%endif%}{{doc.title}}{%if doc.url %}</a>{%endif%}
         {%endif%}
         {%if doc.summary%}
            [<a class="button">summary</a>]
            <div class="hidden">
              {%for line in doc.summary %}
              {{line|striptags}}
              {%endfor%}
            </div>
         {%endif%}
         </li>
      {%endfor%}
   {%endfor%}
   {%for doc in dossier.docs%}
     {%if doc.docs|length > 0 %}
        <li>
        {{doc.type}}:
        {%for d in doc.docs%}
            {% if d.celexid %}
            <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri={{d.celexid[:-3]}}">{{d.title}}</a>
            {% elif d.url  %}<a href="{{d.url}}">{{d.title}}</a>
            {%else%}{{d.title}}{% endif %}


            {%if d.summary%}
               <div class="ui accordion">
                  <div class="title left_padded"><i class="dropdown icon"></i>Summary</div>
                  <div class="content left_padded">
                     {% for a in d.summary %}
                         <p>{{ a|striptags }}</p>
                     {% endfor %}
                  </div>
               </div>
            {%endif%}
        {%endfor%}
        </li>
     {%endif%}
   {%endfor%}
   </ul>
</div>
{%endif%}

{% if dossier.mep_activities %}
<div id="activities" class="ui tab" data-tab="activities">
    <h3>Activities</h3>
    <ul>
        {%for mepid, nametypes in dossier.mep_activities %}
        <li><a href="/mep/{{mepid}}/{{nametypes['name']}}">{{nametypes['name']}}</a>
            <div class="ui accordion">
                {%for type, acts in nametypes['types'].items()%}
                <div class="title"><i class="dropdown icon"></i>{{TYPES[type]}} ({{acts|length}})</div>
                <div class="content">
                    <ul>{%for act in acts -%}
                      <li>{{act.date|asdate}} <a href="{{act.url}}">{{act.title}}</a></li>
                    {%- endfor%}</ul>
                </div>
                {%endfor%}
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{%endif%}

{% if dossier.vmatrix %}
<div id="votes" class="ui tab" data-tab="votes">
<h3>Votes</h3>
{%for vote in dossier.vmatrix|sort(attribute='time')%}
<h4>{{vote.title|safe}} <a class="anchorLink" name="vote-{{vote._id}}" href="#vote-{{vote._id}}">#</a></h4>
  <div>{{vote.time|asdate}} Outcome: {% for c,r in vote.totals.items()%}{{c}}: {{r}}{% if not loop.last%}, {%endif%}{%endfor%}</div>
  <table class="ui definition table celled collapsing compact small voteheatmaptable">
     <thead>
        <tr class="ui center aligned">
          <th />
          <th />
          {% for c,_ in vote.countries %}
            <th>{{c}}</th>
          {%endfor%}
        </tr>
        <tr>
          <td />
          <td>Total</td>
          {% for _,c in vote.countries %}
          <td class="ui center aligned scale{{c['class']}}">
            <div class="ui" data-tooltip="{%- if c['+']>0 %}For: {{c['+']}} {%endif -%}
                                          {%- if c['-']>0 %}Against: {{c['-']}} {%endif -%}
                                          {%- if c['0']>0 %}Abstain: {{c['0']}}{%endif -%}" data-position="center">{{c['+']+c['-']+c['0']}}</div>
          </td>
          {%endfor%}
        </tr>
     </thead>
     <tbody>
        {% for g, gt in vote.groups %}
        <tr class="ui center aligned">
           <td class="ui left aligned"><img class="ui middle aligned image" alt="icon: {{g}}" src="/{{g|group_icon}}" /> {{g}}</td>
           <td class="scale{{gt['class']}}">
             <div class="ui" data-tooltip="{%if- gt['+']%}For: {{gt['+']}} {%endif -%}
                                           {%if- gt['-']%}Against: {{gt['-']}} {%endif -%}
                                           {%if- gt['0']%}Abstain: {{gt['0']}}{%endif -%}" data-position="center">{{gt['+']+gt['-']+gt['0']}}</div>
           </td>
           {% for c,_ in vote.countries %}
              {% if g in vote.votes and c in vote.votes[g] %}
                <td class="scale{{vote.votes[g][c]['class']}}">
						<div class="ui center aligned tooltipz">
                            <div class='ui left aligned top fixed-width'>
                               <h3>{{country_abbrs[c]}} {{g}}</h3>
                               <div>
                               {%if vote.votes[g][c]['+']|length%}<h4>For ({{vote.votes[g][c]['+']|length}})</h4>
                                 <div class='ui container'>
                                     {%- for name, id in vote.votes[g][c]['+'] -%}
                                        <a class='item' href='/mep/{{id}}/{{name}}'>{{name}}</a>{% if not loop.last %}, {% endif -%}
                                    {%endfor -%}</div>{%endif%}
                               </div>
                               <div>
                               {%if vote.votes[g][c]['-']|length%}
                                 {%if vote.votes[g][c]['+']|length%}<div class='ui divider'></div>{%endif%}
                                 <h4>Against ({{vote.votes[g][c]['-']|length}})</h4>
                                 <div class='ui container'>
                                     {%- for name, id in vote.votes[g][c]['-']%}
                                        <a class='item' href='/mep/{{id}}/{{name}}'>{{name}}</a>{% if not loop.last %}, {% endif -%}
                                    {%endfor -%}</div>{%endif%}
                               </div>
                               <div>
                               {%if vote.votes[g][c]['0']|length%}
                                 {%if vote.votes[g][c]['+']|length or vote.votes[g][c]['-']|length%}<div class='ui divider'></div>{%endif%}
                                 <h4>Abstain ({{vote.votes[g][c]['0']|length}})</h4>
                                 <div class='ui container'>
                                     {%- for name, id in vote.votes[g][c]['0']%}
                                        <a class='item' href='/mep/{{id}}/{{name}}'>{{name}}</a>{% if not loop.last %}, {% endif -%}
                                    {%endfor -%}</div>{%endif%}
								 </div>
								 <i></i>
							</div>
							{{vote.votes[g][c].get('+',[])|length+vote.votes[g][c].get('-',[])|length+vote.votes[g][c].get('0',[])|length}}</div>
                 </td>
              {% else %}
                 <td />
              {%endif%}
           {%endfor%}
        </tr>
        {% endfor %}
     </tbody>
  </table>
{%endfor%}
</div>
{% endif %}

{% if dossier.amendments %}
   <div id="ams" class="ui tab" data-tab="ams">
      {% import 'am_tpl.html' as ams %}
      {{ ams.render(dossier.amendments) }}
   </div>
{%endif%}

{% if dossier.changes %}
   {% import 'changes.html' as changes with context %}
   {{ changes.changes(dossier) }}
{%endif%}
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/static/js/dossier.js"></script>
{%endblock%}

