{% extends "base.html" %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="sixteen wide center aligned column">
         <h1 class="ui fluid image jumbo title">Parltrack</h1>
      </div>
    </div>
    <div class="row">
      <div class="nine wide left aligned column">
		<p class="ui padded basic segment">Parltrack is a european initiative to improve the transparency of legislative processes. It combines information on dossiers, representatives, vote results and committee agendas into a unique database and allows the tracking of dossiers using email and RSS. Most of the data presented is also available for further processing in JSON format. Using Parltrack it's easy to see at a glance which dossiers are being handled by committees and MEPs.
        <br />
        <br />
        <br />
        If you need advice on how the European Parliament (EP) works: please visit these sources:
        <a href="http://www.europarl.europa.eu/aboutparliament/en">European Parliament</a> or
        <a href="https://edri.org/files/2012EDRiPapers/activist_guide_to_the_EU.pdf">Activist guide to the EU (PDF)</a>.</p>
      </div>
      <div class="seven wide left aligned column">
          <i class="jumbo blue heartbeat icon"></i>
          <!--<img src="{{ url_for('static', filename='images/main_img.png') }}" alt="Parltrack" />-->
      </div>
	</div>
    <div class="five column row">
      <div class="column">
        <div class="ui pink statistic">
          <div class="value">{{ mep_count }}</div>
          <div class="label">MEPs</div>
        </div>
      </div>
      <div class="column">
        <div class="ui purple statistic">
          <div class="value">{{ dossier_count }}</div>
          <div class="label">Dossiers</div>
        </div>
      </div>
      <div class="column">
        <div class="ui yellow statistic">
          <div class="value">{{ votes }}</div>
          <div class="label">Votes</div>
        </div>
      </div>
      <div class="column">
        <div class="ui olive statistic">
          <div class="value">{{ active_mep_count }}</div>
          <div class="label">Active MEPs</div>
        </div>
      </div>
      <div class="column">
        <div class="ui teal statistic">
          <div class="value">{{ amendments }}</div>
          <div class="label">Amendments</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide left aligned column">
        <h2>Sources</h2>
        <p>Parltrack currently monitors the European law-making using the data available from europarl.europa.eu. The data is being scraped from <a href="http://www.europarl.europa.eu/oeil/">OEIL</a>, <a href="http://www.europarl.europa.eu/activities/plenary/pv/calendar.do?language=EN&amp;LEG_ID=7">EP plenary minutes</a>, <a href="http://www.europarl.europa.eu/members/public/geoSearch.do?language=EN">online MEP profiles</a> and parliamentary <a href="http://www.europarl.europa.eu/activities/committees/committeesList.do?language=EN">committee agendas</a>.</p>
        <h2>Copyright</h2>
        <p>The EP releases this data under the <a href="http://www.europarl.europa.eu/portal/en/legal-notice">following terms</a>:</p>
        <blockquote><p>As a general rule, the reuse (reproduction or use) of textual data and multimedia items which are the property of the European Union (identified by the words '© European Union, [year(s)] – Source: European Parliament' or '© European Union, [year(s)] – EP' ) or of third parties (© External source, [year(s)]), and for which the European Union holds the rights of use, is authorised, for personal use or for further non-commercial or commercial dissemination, provided that the entire item is reproduced and the source is acknowledged.</p></blockquote>
        <p>As long as the European institutions do not provide everything as raw data in open machine-processable formats, there can always be some errors in the data being scraped, so all warranties for the fitness of this data are void.</p>

        <p>The <a href="/dumps">data available as JSON</a> from Parltrack is available under the <a href="http://www.opendatacommons.org/licenses/odbl/">Open Database License v1.0</a> (ODBL). Parltrack is <a href="https://github.com/parltrack/parltrack/">available</a> as free software under the <a href="https://www.gnu.org/licenses/agpl.html">Affero GPL v3+</a> license.</p>

        <h2>Privacy</h2>
        <p>Parltrack currently does not use cookies per default. The preferences of the users however are stored in cookies. These do not allow tracking, except setting your email address would - but we never do. The only private information stored are the email addresses of the users of the monitoring feature. These email addresses are used for the sole purpose of notifying users of changes. Web server access logs are stored for a maximum of one year for statistical purposes only.</p>
        <h2>Contact</h2>
        {{ 'parltrack@ctrlc.hu'|protect_email|safe }}
      </div>
	</div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/protect_address.js') }}"></script>
{% endblock %}
