{% extends "base.html" %}
{% import 'display_changes.html' as changes with context %}
{% block title %}{{mep.Name.full}} | {%endblock%}
{% block rss %}
<link rel="alternate" type="application/atom+xml" title="Changes for {{ mep.Name.full }} feed" href="{{url}}/atom" />
{% endblock %}
{% block content %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
         <h2>{{ changes.display_changes(mep, ['Name', 'full']) }}</h2>
{% if change_dates %}
<div class="ui yellow icon message">
  <i class="pink icon history"></i>
  <div class="content">
    <div class="header">
       This is a historical view ({{date|asdate}})
    </div>
    <p>Changes: {% for d, c in change_dates %}<a rel="nofollow" href="?date={{d}}" class="tooltipz">{{d|asdate}}<span class='bottom'>{{c}}<i></i></span></a>{% if not loop.last %}, {%endif%}{%endfor%}</p>
    <p><a href="?">View current state</a> | <a href="#/history">View Changes for this date</a></p>
    {% if tt_fail %}
    <div class="ui negative message"><div class="header">Sorry, but we failed to recreate history before {{ tt_fail }}</div></div>
    {% endif %}
  </div>
</div>
{% endif %}
<div id="tabs"  class="ui top attached tabular menu wrapped">
    <a class="active item" data-tab="general">General</a>
    {% if 'Addresses' in mep %}<a class="item" data-tab="contact">Contact</a>{%endif%}
    <a class="item" data-tab="committees">Committees</a>
    {% if mep.dossiers %}<a class="item" data-tab="dossiers">Dossiers ({{mep.dossiers|length()}})</a>{%endif%}
    <a class="item" data-tab="activities">Activities</a>
    <a class="item" data-tab="cv">Bio</a>
    {% if mep.changes  %}<a class="item" data-tab="history">History</a>{%endif%}
    <a class="item" data-tab="links">Links</a>
</div>
<br /><br />
<div id="general" class="ui active tab" data-tab="general">
<div class="mepshot right floated">
  <img alt="headshot of {{mep.Name.full}}" src="https://www.europarl.europa.eu/mepphoto/{{mep.UserID}}.jpg" />
  <br />
</div>
<h3>Constituencies</h3>
<ul>
{%for c in mep.Constituencies|sort(attribute='start',reverse=True) if not c.end or c.end>today %}
    <li>
    {{c.party}}
    <img class="group_icon" alt="icon: {{countries[c.country]}}" src="/static/images/{{countries[c.country]|lower}}.gif" /> {{c.country}}
    {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
    </li>
{% endfor %}
</ul>
{%for c in mep.Constituencies|sort(attribute='start',reverse=True) if c.end and c.end<today %}
  {% if loop.first %}
    <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Show earlier Constituencies...</div>
      <div class="content">
         <div class="ui container">
        <ul>
  {% endif %}
    <li>
    {{c.party}}
    <img class="group_icon" alt="icon: {{countries[c.country]}}" src="/static/images/{{countries[c.country]|lower}}.gif" /> {{c.country}}
    {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
    </li>
    {% if loop.last %}</ul></div></div></div>{%endif%}
{% endfor %}
<h3>Groups</h3>
{%for c in mep.Groups if not c.end or c.end>today %}
  {% if loop.first %}<ul>{% endif %}
    <li>
    {% if c.groupid and c.groupid.__iter__ %}
      {% if not c.start or c.start >= group_cutoff %}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> <a href="/meps/{{c.groupid}}">{{c.groupid}}</a>
      {%else%}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> {{c.groupid}}
      {%endif%}
    {%elif c.groupid %}
      {% if not c.start or c.start >= group_cutoff %}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> <a href="/meps/{{c.groupid}}">{{c.groupid}}</a>
      {%else%}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> {{c.groupid}}
      {%endif%}
    {%endif%}
    {{c.role}}
    {%if c.group%}{{c.group}}{%else%}{{c.Organization}}{%endif%}
    {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
    </li>
    {% if loop.last %}</ul>{%endif%}
{% endfor %}
{%for c in mep.Groups if c.end and c.end<=today %}
   {% if loop.first %}
    <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Show earlier Groups...</div>
      <div class="content">
         <div class="ui container">
        <ul>
   {%endif%}
   <li>
    {% if c.groupid %}
    {% if c.groupid.__iter__ %}
      {% if not c.start or c.start >= group_cutoff %}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> <a rel="nofollow" href="/meps/{{c.groupid}}?date={{c.start|asdate}}">{{c.groupid}}</a>
      {%else%}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> {{c.groupid}}
      {%endif%}
    {%else%}
      {% if not c.start or c.start >= group_cutoff %}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> <a rel="nofollow" href="/meps/{{c.groupid}}?date={{c.start|asdate}}">{{c.groupid}}</a>
      {%else%}
        <img class="group_icon" alt="icon: {{c.groupid}}" src="/{{c.groupid|group_icon}}" /> {{c.groupid}}
      {%endif%}
    {%endif%}
    {%endif%}
    {{c.role}}
    {%if c.group%}{{c.group}}{%else%}{{c.Organization}}{%endif%}
    {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
  </li>
  {% if loop.last %}</ul></div></div></div>{%endif%}
{% endfor %}

{% if 'Staff' in mep %}
<h3>EP staff</h3>
<ul>
{%for c in mep.Staff if not c.end or c.end>today %}
   <li>
    {{c.role}} of
    {{c.Organization}}
    {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
  </li>
{% endfor %}
</ul>
{%for c in mep.Staff if c.end and c.end<=today %}
  {% if loop.first %}
    <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Show earlier staff roles...</div>
      <div class="content">
         <div class="ui container">
        <ul>
    {%endif%}
    <li>
        {{c.role}} of
        {{c.Organization}}
        {% if c.start and c.end%}{{c.start|asdate}} - {{c.end|asdate}}{% endif %}
     </li>
  {% if loop.last %}</ul></div></div></div>{%endif%}
{% endfor %}
{% endif %}
</div>

<div id="committees" class="ui tab" data-tab="committees">
<h3>Committees</h3>
{%for c in mep.Committees if not c.end or c.end>today%}
   {% if loop.first %}
<table class="ui table">
<thead><tr><th>Role</th><th>Committee</th><th>Start</th><th>End</th></tr></thead>
<tbody>
   {% endif %}
   <tr>
      <td>{{c.role}} of</td>
      <td>{% if c.Organization|length == 4 %}<a href="/committee/{{c.Organization}}">{{c.Organization}}</a></td>
      <td>{%elif committee_map[c.Organization]|length == 4%}<a href="/committee/{{committee_map[c.Organization]}}">{{c.Organization}}</a>{%else%}
         {{c.Organization}}{%endif%}</td>
      <td>{% if c.start %}{{c.start|asdate}}{% endif %}</td>
      <td>{% if c.end %}{{c.end|asdate}}{% endif %}</td>
   </tr>
   {% if loop.last %}
</tbody>
</table>
   {% endif %}
{% endfor %}
{%for c in mep.Committees if c.end and c.end<=today %}
  {% if loop.first %}
    <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Show earlier committees...</div>
      <div class="content">
      <table class="ui table">
         <thead><tr><th>Role</th><th>Committee</th><th>Start</th><th>End</th></tr></thead>
         <tbody>
   {%endif%}
    <tr>
       <td>{{c.role}} of</td>
       <td>{% if c.Organization|length == 4 %}<a href="/committee/{{c.Organization}}">{{c.Organization}}</a>
          {%elif committee_map[c.Organization]|length == 4%}<a href="/committee/{{committee_map[c.Organization]}}">{{c.Organization}}</a>{%else%}
          {{c.Organization}}{%endif%}</td>
          <td>{% if c.start %}{{c.start|asdate}}{% endif %}</td>
          <td>{% if c.end %}{{c.end|asdate}}{% endif %}</td>
       </tr>
   {% if loop.last %}
         </tbody>
      </table></div></div>
   {%endif%}
{% endfor %}

<h3>Delegations</h3>
{%for c in mep.Delegations if not c.end or c.end>today %}
      {% if loop.first %}
         <table class="ui table">
         <thead><tr><th>Role</th><th>Delegation</th><th>Start</th><th>End</th></tr></thead>
         <tbody>
      {%endif%}
      <tr>
       <td>{{c.role}} of</td>
       <td>{{c.Organization}}</td>
       <td>{% if c.start %}{{c.start|asdate}}{% endif %}</td>
       <td>{% if c.end %}{{c.end|asdate}}{% endif %}</td>
      </tr>
      {% if loop.last %}
         </tbody></table>
      {%endif%}
   {% endfor %}
   {%for c in mep.Delegations if c.end and c.end<=today %}
      {% if loop.first %}
         <div class="ui accordion">
           <div class="title"><i class="dropdown icon"></i>Show earlier delegations...</div>
           <div class="content">
              <table class="ui table">
                 <thead><tr><th>Role</th><th>Delegation</th><th>Start</th><th>End</th></tr></thead>
                 <tbody>
      {%endif%}
       <tr>
          <td>{{c.role}} of</td>
          <td>{{c.Organization}}</td>
          <td>{% if c.start %}{{c.start|asdate}}{% endif %}</td>
          <td>{% if c.end %}{{c.end|asdate}}{% endif %}</td>
       </tr>
      {% if loop.last %}
         </tbody></table></div></div>
      {%endif%}
{% endfor %}
</div>

{% if 'Addresses' in mep %}
<div id="contact" class="ui tab" data-tab="contact">
<h3>Contact</h3>
{%if mep.Homepage or mep.Mail or mep.Twiter or mep.Facebook or mep.Instagram %}
{% if mep.Homepage%}
  <h5>Homepage</h5>
  <ul>
  {% for url in mep.Homepage %}
      <li><a href="{{url}}">{{ changes.display_changes(mep, ['Homepage', loop.index-1]) }}</a></li>
  {% endfor %}
  </ul>
{%endif%}
{% if mep.Twitter%}
  <h5>Twitter</h5>
  <ul>
  {% for url in mep.Twitter %}
      <li><a href="{{url}}">{{ changes.display_changes(mep, ['Twitter', loop.index-1]) }}</a></li>
  {% endfor %}
  </ul>
{%endif%}
{% if mep.Facebook %}
  <h5>Facebook</h5>
  <ul>
  {% for url in mep.Facebook  %}
      <li><a href="{{url}}">{{ changes.display_changes(mep, ['Facebook', loop.index-1]) }}</a></li>
  {% endfor %}
  </ul>
{%endif%}
{%if mep.Instagram%}
  <h5>Instagram</h5>
  {%for url in mep.Instagram %}
      <li><a href="{{url}}">{{ changes.display_changes(mep, ['Instagram', loop.index-1]) }}</a></li>
  {% endfor %}
  </ul>
{%endif%}
{%if mep.Mail%}
  <h5>Email</h5>
  <ul>
  {% for mail in mep.Mail %}
      <li>{{mail|protect_email|safe}}</li>
  {% endfor %}
  </ul>
{%endif%}
{%endif%}
{%if mep.Addresses.Brussels%}
<h4>Brussels</h4>
<ul>
   <li>Phone: {{mep.Addresses.Brussels.Phone}}</li>
   <li>Fax: {{mep.Addresses.Brussels.Fax}}</li>
   <li>Office: {{mep.Addresses.Brussels.Address.Building}} {{mep.Addresses.Brussels.Address.Office}}</li>
   <li>Full Address
      <ul>
        <li>City: {{mep.Addresses.Brussels.Address.City}}</li>
        <li>Zip: {{mep.Addresses.Brussels.Address.Zip}}</li>
        <li>Street: {{mep.Addresses.Brussels.Address.Street}}</li>
      </ul>
   </dd></dl></li>
</ul>
{%endif%}
{%if mep.Addresses.Strasbourg%}
<h4>Strasbourg</h4>
<ul>
   <li>Phone: {{mep.Addresses.Strasbourg.Phone}}</li>
   <li>Fax: {{mep.Addresses.Strasbourg.Fax}}</li>
   <li>Office: {{mep.Addresses.Strasbourg.Address.Building}} {{mep.Addresses.Strasbourg.Address.Office}}</li>
   <li>Full Address
      <ul>
         <li>City: {{mep.Addresses.Strasbourg.Address.City}}</li>
         <li>Zip: {{mep.Addresses.Strasbourg.Address.Zip1}} - {{mep.Addresses.Strasbourg.Address.Zip2}}</li>
         <li>Street: {{mep.Addresses.Strasbourg.Address.Street}}</li>
      </ul>
   </li>
</ul>
{%endif%}
{%if mep.Addresses.Postal %}
<h4>Postal</h4>
<ul>
  {%for a in mep.Addresses.Postal%}
  <li>{{a}}</li>
  {%endfor%}
</ul>
{%endif%}
</div>
{%endif%}

{% if mep.dossiers %}
  <div id='dossiers' class="ui tab" data-tab="dossiers">
  <h3>Rapporteur</h3>
  <table class="ui table">
    <thead><tr><th>Type</th><th>Dossier</th><th>Committee</th><th>Title</th></tr></thead>
    <tbody>
    {%for ref, title, type, committee in mep.dossiers%}
    <tr>
       <td class="rapporteur{%if type=='Responsible Committee'%} responsible{%elif type=='Committee Opinion'%} opinion{%elif type=='Responsible Committee Shadow'%} responsible shadow{%elif type == 'Opinion Committee Shadow'%} opinion shadow{%endif%}">{{type}}</td>
       <td><a href="/dossier/{{ref}}">{{ref}}</a></td>
       <td><a href="/committee/{{committee}}">{{committee}} {{committee_map[committee]}}</a></td>
       <td>{{title}}</td>
    </tr>
    {%endfor%}
  </tbody>
  </table>
  </div>
{%endif%}

<div id='activities' class="ui tab" data-tab="activities">
   <h3><a href="/activities/{{ mep.UserID }}">Activities</a></h3>
   <h4>Stats</h4>
   <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Amendment Co-authors</div>
      <div class="content">
         <div class="ui container">
         <table id='co-authors' class="ui table">
            <thead>
               <tr>
                  <th>Name</th>
                  {% if not group %}<th data-filter="ddl">Group</th>{% endif %}
                  {% if not country %}<th data-filter="ddl">Country</th>{% endif %}
                  <th>Ams</th>
               </tr>
            </thead>
            <tbody>
               {% for (name, group, country), ams in coauthors %}
                     <tr>
                        <td><a href="/mep/{{ name }}">{{ name }}</a></td>
                        <td><img class="group_icon" alt="icon: {{group}}" src="/{{group|group_icon}}" /> {{group }}</td>
                        <td><img class="group_icon" alt="icon: {{country}}" src="/static/images/{{countries[country]|lower}}.gif" /> {{country}}</td>
                        <td>{{ams}}</td>
                     </tr>
               {% endfor %}
            </tbody>
         </table>
         </div>
      </div>
   </div>

   <h4>By types</h4>
   {% for d,c in mep.activities.types.items() %}
      <a href="/activities/{{ mep.UserID }}/type/{{ d }}">{{ d|asactivity }} ({{ c }})</a><br />
   {% endfor %}
   <h4>By dossiers</h4>
   <table class="ui table">
      <thead>
         <tr><td>Count</td><td>Dossier Reference</td><td>Title</td></tr>
      </thead>
      <tbody>
         {% for d,c in mep.activities.dossiers.items() %}
            <tr><td>{{c}}</td><td><a href="/activities/{{ mep.UserID }}/dossier/{{ d }}">{{ d }}</a></td><td>{{ dossier_titles[d] }}</td></tr>
         {% endfor %}
      </tbody>
   </table>
</div>
<div id='cv' class="ui tab" data-tab="cv">
  <p><a href="?history_filter=CV#/history">See historical changes of the Bio</a></p>
  {% if mep.Birth %}
    <h3>Born</h3>
      {{mep.Birth.date|asdate}} - {{mep.Birth.place}}
  {%endif%}
  {% if mep.CV %}
  {%for title, lines in mep.CV.items()%}
    {%if title!="updated"%}
       <h3>{{title}}</h3>
       <ul>
         {%for line in lines%}
           <li>{{line}}</li>
         {%endfor%}
       </ul>
    {%endif%}
  {%endfor%}{%endif%}
</div>

<div id='links' class="ui tab" data-tab="links">
  <h3>{{mep.Name.full}} on</h3>
  <ul>
     {% if mep.meta %}<li><a href="{{mep.meta.url}}">EP official site</a></li>{% endif %}
     <li><a href="https://secure.wikimedia.org/wikipedia/en/wiki/{{mep.Name.sur.replace(' ','_')}}_{{mep.Name.family.title().replace(' ','_')}}">... wikipedia</a></li>
     <li><a href="https://encrypted.google.com/search?q={{mep.Name.sur}}+{{mep.Name.family.title()}}">... google</a></li>
  </ul>
  {% if mep.term7 or mep.term6 %}
     <h3>Activities</h3>
     {% if mep.term8 %}
     <h4>Term 8 01.07.2014 / ...</h4>
     <ul>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=QP&amp;language=EN&amp;term=8&amp;author={{mep.UserID}}">Questions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=MOTION&amp;language=EN&amp;term=8&amp;author={{mep.UserID}}">Motions for resolutions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=CRE&amp;language=EN&amp;term=8&amp;author={{mep.UserID}}">Speeches in plenary</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=WDECL&amp;language=EN&amp;term=8&amp;author={{mep.UserID}}">Written declarations</a></li>
     </ul>
     {%endif%}
     {% if mep.term7%}
     <h4>Term 7 14.07.2009 / 31.06.2014 </h4>
     <ul>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=QP&amp;language=EN&amp;term=7&amp;author={{mep.UserID}}">Questions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=MOTION&amp;language=EN&amp;term=7&amp;author={{mep.UserID}}">Motions for resolutions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=CRE&amp;language=EN&amp;term=7&amp;author={{mep.UserID}}">Speeches in plenary</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=WDECL&amp;language=EN&amp;term=7&amp;author={{mep.UserID}}">Written declarations</a></li>
     </ul>
     {%endif%}
     {% if mep.term6%}
     <h4>Term 6 20.07.2004 - 13.07.2009</h4>
     <ul>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=QP&amp;language=EN&amp;term=6&amp;author={{mep.UserID}}">Questions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=MOTION&amp;language=EN&amp;term=6&amp;author={{mep.UserID}}">Motions for resolutions</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=CRE&amp;language=EN&amp;term=6&amp;author={{mep.UserID}}">Speeches in plenary</a></li>
        <li><a href="http://www.europarl.europa.eu/sidesSearch/search.do?type=WDECL&amp;language=EN&amp;term=6&amp;author={{mep.UserID}}">Written declarations</a></li>
        <li><a href="http://www.europarl.europa.eu/mepatt/leg6/{{mep.UserID}}.pdf">Attendance List</a> (pdf)</li>
     </ul>
     {%endif%}
     All references link to europarl.eu
   {%endif%}
</div>
{% if mep.changes %}
   {% import 'changes.html' as changes with context %}
   {{ changes.changes(mep) }}
{%endif%}
</div>
</div>
</div>
</div>
</div>
<script src="{{ url_for('static', filename='js/mep.js') }}"></script>
<script src="{{ url_for('static', filename='js/protect_address.js') }}"></script>
{% endblock %}
