{% extends "base.html" %}
{% block content %}
{% import 'mep_listview.html' as listview %}
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
          <h1>MEPs as of {{ date|asdate }} ({{ meps|length }})</h1>
          <div class="ui fluid divided items">
          {% for mep in meps %}
          {{ listview.render(mep) }}
          {% endfor %}
          </div>

      </div>
	</div>
  </div>
</div>
{% endblock %}
