{% extends "base.html" %}

{% block content %}
<input type="hidden" id="group_id" value="{{group.id}}" />
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
<h2>{{ group.name }} notification group</h2>
<div id="tabs">
<div id="general">
<a class="ui red basic label" id="unsubscribe_link">unsubscribe</a>
<h3>Information</h3>
<ul>
 <li>Number of subscribers: {{ group.subscribers|length }}</li>
 <li>Pending subscribers: {{ group.pending_emails|length }}</li>
 <li>Number of dossiers: {{ active_dossiers }}</li>
 <li>Pending items: {{ inactive_items|length }}</li>
</ul>
{% if dossiers %}
<h3>Tracked Dossiers</h3>
<table border="1" id='sortedlist' class="tablesorter">
    <thead>
      <tr>
        <th>Dossier</th>
        <th>Forecasts</th>
        <th>Stage Reached</th>
        <th>Legal Basis</th>
        <th>Name</th>
        <th>Committee Dossier</th>
        <th>Rapporteur</th>
        <th>Commission Doc</th>
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}
      <tr>
        <td><a href="/dossier/{{ dossier.procedure.reference }}">{{ dossier.procedure.reference }}</a></td>
        <td class='forecasts'>{% for fc in dossier.activities|sort(attribute='date') if fc.date >= now_date %}
           <div class="vevent"><abbr title="{{fc.date.isoformat()}}" class="dtstart">{{ fc.date|asdate }}</abbr> - <span class="summary">{{ fc.type }}</span></div>
           {% if loop.first and loop.length>1 %}
              <div class="more" >More..</div>
              <div class="hidden">
           {% endif %}
           {% if loop.last and loop.length>1 %}
              </div>
           {% endif %}
          {% endfor %}</td>
        <td>{{ dossier.procedure.stage_reached }}</td>
        <td>{% for sub in dossier.procedure.legal_basis %}{% if not loop.first %}, {% endif %}{{ sub }}{% endfor %}</td>
        <td>{{ dossier.procedure.title }}</td>
        <td>{% if dossier.procedure.dossier_of_the_committee %}
           <ul>
              {% if dossier.procedure.dossier_of_the_committee is not string %}
                 {%for x in dossier.procedure.dossier_of_the_committee -%}
                    <li><a href="http://www.europarl.europa.eu/committees/en/{{x.split('/')[0].lower()}}/search-in-documents.html?linkedDocument=true&ufolderComCode={{dossier.procedure.committee}}&ufolderLegId={{x.split('/')[1]}}&ufolderId={{x.split('/')[2]}}&urefProcYear=&urefProcNum=&urefProcCode=">{{x}}</a></li>
                 {%-endfor-%}
                 {%-else-%}
                    <li><a href="http://www.europarl.europa.eu/committees/en/{{dossier.procedure.dossier_of_the_committee.split('/')[0].lower()}}/search-in-documents.html?linkedDocument=true&ufolderComCode={{dossier.procedure.committee}}&ufolderLegId={{dossier.procedure.dossier_of_the_committee.split('/')[1]}}&ufolderId={{dossier.procedure.dossier_of_the_committee.split('/')[2]}}&urefProcYear=&urefProcNum=&urefProcCode=">{{dossier.procedure.dossier_of_the_committee}}</a></li>
                 {%-endif-%}
           </ul>
           {%endif%}
        </td>
        <td>{% for c in dossier.committees %}{% if c.responsible %}{% for r in c.rapporteur %}{% if not loop.first %}, {% endif %}<a href="/mep/{{r.name}}">{{ r.name }}</a> ({{r.group}}){% endfor %}{%endif%}{%endfor%}</td>
        <td>{% if dossier.comdoc %}<a href="{{dossier.comdoc.url}}">{{ dossier.comdoc.title }}</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
<div class="ui modal form">
  <i class="close icon"></i>
  <div class="header">
    Unsubscribe
  </div>
  <div class="content">
    <div class="description">
     <div class="field">
      <label>Notification group</label>
      </div>
      <input type="hidden" id="group_name" value="{{group.name}}">
     <div class="field">
      <label>Dossier</label>
      <select id="dossier_name">
         <option value=""></option>
         {% for i in group['items'] %}
         {% if i.type == 'dossier' %}<option value="{{ i.name }}">{{ i.name }}</option>{% endif %}
         {% endfor %}
      </select>
      </div>
     <div class="field">
      <label>E-mail</label>
       <input type="text" id="email_name" placeholder="Name..">
      </div>
     <div class="field">
      <label>Subject</label>
      <select id="subject_name">
         <option value=""></option>
         {% for i in group['items'] %}
         {% if i.type == 'subject' %}<option value="{{ i.name }}">{{ i.name }}</option>{% endif %}
         {% endfor %}
      </select>
      </div>
    </div>
  </div>
  <div class="actions">
    <input type="button" value="Unsubscribe" class="ui button" id="submit">
    <div class="ui black deny button" id="hide">
      Cancel
    </div>
    </div>
  </div>
</div>
 <script type="text/javascript" src="/static/js/view_notif.js"></script>
{% endblock %}
