{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/view_notif.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="group_id" value="{{group.id}}" />
<div class="ui vertical segment">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="left aligned column">
<h2>{{ group.name }} notification group</h2>
<div id="tabs">
  <ul>
    <li><a href="#general">General</a></li>
    <li><a href="#calendar-tab">Calendar</a></li>
  </ul>
{% if dossiers %}
<div id='calendar-tab'>
  <div id="calendar_legend">
    <ul id='legend'>
      <li class='ep-vote'>Plenary sitting agenda, vote</li>
      <li class='ep-debate'>Plenary sitting agenda, debate</li>
      <li class='ep-sitting'>EP plenary sitting (indicative date)</li>
      <li class='ep-2ndsitting'>'EP plenary sitting, 2nd reading'</li>
      <li class='ep-3rdsitting'>EP plenary sitting, 3rd reading'</li>
      <li class='ep-1streading'>EP: report scheduled for adoption in committee, 1st or single reading</li>
      <li class='ep-2ndreading'>'EP: report scheduled for adoption in committee, 2nd reading'</li>
      <li class='tabling-deadline'>'EP: Deadline for committee ammendments'</li>
      <li class='committee-agenda'>'EP: on committee agenda'</li>
      <li class='council-debate-expected'>Council: debate or examination expected</li>
      <li class='council-final'>Council: final act scheduled</li>
      <li class='council-agree'>Council: political agreement on final act expected</li>
    </ul>
  </div>
  <div id='calendar'></div>
</div>
{% endif %}
<div id="general">
<div class="ui red basic label" id="unsubscribe_link">unsubscribe</div>
<h3>Information</h3>
<ul>
 <li>Number of subscribers: {{ group.subscribers|length }}</li>
 <li>Pending subscribers: {{ group.pending_emails|length }}</li>
 <li>Number of dossiers: {{ active_dossiers }}</li>
 <li>Pending dossiers: {{ inactive_dossiers }}</li>
</ul>
{% if dossiers %}
<h3>Tracked Dossiers</h3>
<table border="1" id='sortedlist' class="tablesorter">
    <thead>
      <tr>
        <th>Dossier</th>
        <th>Forecasts</th>
        <th>Stage Reached</th>
        <th>Legal Basis</th>
        <th>Name</th>
        <th>Committee Dossier</th>
        <th>Rapporteur</th>
        <th>Commission Doc</th>
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}
      <tr>
        <td><a href="/dossier/{{ dossier.procedure.reference }}">{{ dossier.procedure.reference }}</a></td>
        <td class='forecasts'>{% for fc in dossier.activities|sort(attribute='date') if fc.date >= now_date %}
           <div class="vevent"><abbr title="{{fc.date.isoformat()}}" class="dtstart">{{ fc.date|asdate }}</abbr> - <span class="summary">{{ fc.type }}</span></div>
           {% if loop.first and loop.length>1 %}
              <div class="more" >More..</div>
              <div class="hidden">
           {% endif %}
           {% if loop.last and loop.length>1 %}
              </div>
           {% endif %}
          {% endfor %}</td>
        <td>{{ dossier.procedure.stage_reached }}</td>
        <td>{% for sub in dossier.procedure.legal_basis %}{% if not loop.first %}, {% endif %}{{ sub }}{% endfor %}</td>
        <td>{{ dossier.procedure.title }}</td>
        <td>{{ dossier.procedure.dossier_of_the_committee }}</td>
        <td>{% for c in dossier.committees %}{% if c.responsible %}{% for r in c.rapporteur %}{% if not loop.first %}, {% endif %}<a href="/mep/{{r.name}}">{{ r.name }}</a> ({{r.group}}){% endfor %}{%endif%}{%endfor%}</td>
        <td>{% if dossier.comdoc %}<a href="{{dossier.comdoc.url}}">{{ dossier.comdoc.title }}</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
<div class="ui modal form">
  <i class="close icon"></i>
  <div class="header">
    Unsubscribe
  </div>
  <div class="content">
    <div class="description">
     <div class="field">
      <label>Notification group</label>
      </div>
      <input type="hidden" id="group_name" value="{{group.name}}">
     <div class="field">
      <label>Dossier</label>
      <select id="dossier_name">
         <option value=""></option>
         {% for i in group.items %}
         {% if i.type == 'dossiers' %}<option value="{{ i.name }}">{{ i.name }}</option>{% endif %}
         {% endfor %}
      </select>
      </div>
     <div class="field">
      <label>E-mail</label>
       <input type="text" readonly="true" id="email_name" placeholder="Name..">
      </div>
     <div class="field">
      <label>Subject</label>
      <select id="subject_name">
         <option value=""></option>
         {% for i in group.items %}
         {% if i.type == 'subjects' %}<option value="{{ i.name }}">{{ i.name }}</option>{% endif %}
         {% endfor %}
      </select>
      </div>
    </div>
  </div>
  <div class="actions">
    <input type="button" value="Unsubscribe" class="ui button" id="submit">
    <div class="ui black deny button" id="hide">
      Cancel
    </div>
    </div>
  </div>
</div>
{% endblock %}
